.action-btn {
	display: inline-block !important;
	margin-right: 5px;
	border-radius: 3px;
	padding: 4px 7px 3px;
	cursor: pointer !important;
	transition: .1s;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
	color: inherit;
	text-decoration: none !important;
	border: 1px solid #FFF;
}
.action-btn label {
	cursor: pointer !important;
}
.action-btn.boxed {
	border: 1px solid #E3E3E3;
}

.action-btn.report.completed, .action-btn.report.completed:hover {
	background: #FFF;
	color: firebrick;
	border: 1px solid firebrick;
	pointer-events: none;
}
.action-btn.report.completed .fa-flag {
	opacity: 1 !important;
}
.action-btn.right {
	margin-right: 0px;
	margin-left: 5px;
}
.action-btn:hover {
	background: #E3E3E3;
}
.action-btn:active {
	border-top: 1px solid #CCC;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
}
.action-btn label{
	margin-left: 3px;
}
.action-btn .fa-flag {
	opacity: .5;
}
.action-btn:hover .fa-flag, .action-btn.boxed .fa-flag {
	opacity: 1;
}
.share-btn {
	position: relative;
	overflow: hidden;
	display: block;
}
.panel .share-btn{
	height: 60px;
	line-height: 64px;
	font-size: 2em;
	text-align: center;
	color: #FFF;
	border-radius: 3px;
	cursor: pointer;
}
.share-btn > div {
	position: absolute;
	top: -14px;
	left: -14px;
	width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 100%;
	transition: .3s;
  border: 0px solid rgba(0,0,0,0.1);
}
.share-btn > div:hover {
  border: 50px solid rgba(0,0,0,0.1);
}
