* {
	box-sizing: border-box !important;
	font-family: 'Catamaran', sans-serif;
}
.arvo {
	font-weight: 300;
}
body {
	padding: 65px 0;
}
/** Form **/
.toggle-check {
	display: inline-block;
	background: grey;
	height: 16px;
	width: 26px;
	vertical-align: top;
	padding: 2px;
	border-radius: 8px;
	margin-right: 5px;
	background: #F9F9F9;
	border: 1px solid #2B567F;
	position: relative;
	margin-left: -31px;
}
.toggle-check span {
	display: block;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 100%;
	height:14px;
	width: 14px;
	background: #2B567F;
	transition: .2s;
}
.toggle-check.active {
	background: #2B567F;
	border: 1px solid #2B567F;
}
.toggle-check.active span {
	left: 10px;
	background: #FFF;
}
input[type='text'], input[type='number'], input[type='email'], input[type='file'], input[type='password'], select, button, textarea {
	border:none;
	background: #FFF;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	transition: .1s;
	outline: none !important;
}
input:focus {
	outline: none;
}
input:disabled {
	background: #f9f9f9;
	border: 1px solid #E3E3E3;
	cursor: not-allowed;
}
select {
	border: 1px solid #E7EAED;
	margin-bottom: 7px;
	border-radius: 3px;
	width: 100%;
	padding: 0 25px 0 5px;
	height: 32px;
		line-height: 32px;
		cursor: pointer;
}
.caret {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	width: 0;
	float: right;
	margin-right: 10px;
	margin-top: -24px;
	position: relative;
}
/** Buttons **/
.btn {
	height: 30px;
	line-height: 30px;
	font-size: .9em;
	border-radius: 3px;
	transition: .1s;
	white-space: nowrap;
	display: inline-block;
	padding: 0 15px;
	text-align: center;
	text-decoration: none !important;
	margin: 10px 10px 10px 0;
	min-width: 80px;
	cursor: pointer;
	opacity: .9;
}
.outline-btn {
	border: 1px solid #E7EAED;
	background: #FFF;
}
/** Vars **/
.text-right {
	text-align: right;
}
.pointer {
	cursor: pointer !important;
}
.no-results {
	text-align: center;
	margin: 12px 0;
}
.fa-trophy{
	margin-right: 4px;
	font-size: .9em;
}
.avatar {
	background-size: cover !important;
}
.full-width {
	width: 100%;
}
.text-right {
	text-align: right;
}
.hr {
	height: 1px;
	background: #E7EAED;
}
.radius {
	border-radius: 3px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-right {
	text-align: right;
}
.no-padding {
	padding: 0;
}
.no-pad-right {
	padding-right: 0;
}
.no-pad-left {
	padding-left: 0;
}
.pad-left-5 {
	padding-left: 5px;
}
.extra-pad-left {
	padding-left: 50px;
}
.extra-pad-right {
	padding-right: 50px;
}
.no-underline {
	text-decoration: none !important;
}
.dotted {
	height: 1px;
	background-image: linear-gradient(to right, #E3E3E3 33%, rgba(255,255,255,0) 0%);
		background-position: bottom;
		background-size: 5px 1px;
		background-repeat: repeat-x;
		margin: 12px -12px;
}
.no-margin {
	margin: 0;
}
.no-side-margin {
	margin-left: 0;
	margin-right: 0;
}
.extra-side-margin {
	margin-left: -24px;
	margin-right: -24px;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
.bold {
	font-weight: 500;
}
.pointer {
	cursor: pointer;
}
.underline:hover {
	text-decoration:underline;
}
/* footer */
.footer {
	font-size: .8em;
}
.footer a, .footer span {
	display: inline-block;
	margin: 0 3px 2px 0;
}
.fixed-feedback {
	position: fixed;
	right: -33px;
	bottom: 100px;
	display: block;
	height: 29px;
	line-height: 29px;
	-webkit-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	background: #FFF;
	text-decoration: none !important;
	z-index: 9;
	width: 90px;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	transform: rotate(-90deg);
	cursor: pointer;
	transition: .1s;
	border: 1px solid #E7EAED;
}
.fixed-feedback i {
	padding-left: 5px;
	width: 19px;
	height: 14px;
}
.fixed-feedback:hover{
	right: -30px;
	color: #333;
}
/* Panel */

.naked-header {
	font-size: 1.2em;
	padding: 12px 2px 6px;
}
.panel {
	background: #FFF;
	border-radius: 3px;
	margin-bottom: 12px;
		-webkit-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
		-moz-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.panel iframe {
	max-width:100%;
}
.panel h1 {
	margin: 0;
	font-size: 1.6em;
	font-weight: 400;
}
.panel .updated {
	font-size: .9em;
}
.panel.padding {
	padding: 12px;
}
.naked {
	box-shadow: none;
	background: transparent;
	padding: 0 12px !important;
}
.panel .panel-title {
	font-size: 1.1em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 500;
}
.panel .panel-title i {
	margin-right: 4px;
}
.panel .panel-title-lg {
	font-size: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.panel .panel-title-lg i {
	font-size: .7em;
	margin-right: 2px;
}
.panel .sub-title {
	font-size: .9em;
	line-height: 1.2em;
	margin-bottom: 12px;
}
.panel .sub-title span {
	display: block;
	font-size: 1.4em;
	margin-top: 6px;
	margin-bottom: 12px;
}
.panel .option {
	display: block;
	background: #E3E3E3;
	border-radius: 3px;
	margin-bottom: 4px;
	padding: 4px 6px 4px 24px;
	position: relative;
	cursor: pointer;
}
.panel .option input {
	position: absolute;
	left: 5px;
	top: 5px;
}
.panel .text-block {
	font-size: 12px;
		line-height: 14px;
		height: 44px;
		display: block;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
}
.tag-link {
	display: block;
	font-size: 1.1em;
	text-decoration: none !important;
}
.tag-link span {
	font-size: .7em;
	display: block;
}
.side-link {
	display: block;
		font-size: .9em;
		line-height: 1.2em;
}
.side-link.w-icon {
	position: relative;
	padding: 5px 0 5px 25px;
}
.side-link.w-icon i {
	position: absolute;
	left: 0;
	top: 4px;
	font-size: 1.3em;
}
.side-link-lg {
	display: block;
		font-size: 1.3em;
		white-space: nowrap;
}
.side-link-sub {
	font-size: .8em;
	display: block;
	margin-bottom: 12px;
	line-height: 1px;
}
.fixed-menu {
	position: fixed;
	width: 100%;
}
/* Progress */
.result-progress {
	width: 100%;
	height: 18px;
	border-radius: 3px;
	margin-bottom: 8px;
	margin-top: -3px;
	overflow: hidden;
}
.result-progress > div {
	height: 18px;
}

.result-value {
	display:inline-block;
	width: 20%;
	overflow: hidden;
	white-space:nowrap;
	padding-left:6px;
}
/* Not logged in msg */
.not-logged-in {
	background: #F9F9F9;
	border: 1px solid #E7EAED;
	border-radius: 3px;
	padding: 6px 12px;
	margin-top: 12px;
	color: #777;
}
.not-logged-in span:hover {
	cursor: pointer;
	text-decoration: underline;
}
/* preview dropdown */
.preview-holder {
	position: relative;
	margin-top: 10px;
}
.preview {
	border: 1px solid #E3E3E3;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),0 2px 10px 0 rgba(0,0,0,0.02);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	position: absolute;
	width: 100%;
	top: 30px;
	left: 0;
	background: #FFF;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: .1s;
}
.preview .header {
	font-size: .8em;
	text-transform: capitalize;
	padding: 3px 5px 0;
}
.line-item {
	padding: 7px 5px;
	font-size: 1em;
	line-height: 1.2em;
	border-bottom: 1px solid #f1f1f1;
	display: block;
	text-decoration: none !important;
}
/*line-item w/avatar */
.line-item.wa {
	padding: 6px 5px 6px 35px;
	min-height: 35px;
	position: relative;
}
.line-item.wa .avatar {
	width: 24px;
	height: 24px;
	line-height: 26px;
	position: absolute;
	left: 5px;
	top: -5px;
	font-size: 12px;
}
.line-item.wa .color {
	height: 24px;
	line-height: 26px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.full-bg.open {
	background: rgba(0,0,0,0.2);
	position: fixed;
	top: 50px;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: .2s;
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
}
.full-bg {
	opacity: 0;
	pointer-events: none;
}

.preview.open {
	opacity: 1;
	pointer-events: auto;
	margin-bottom: 50px;
}
.preview-item {
	position: relative;
	padding: 10px 10px 10px 55px;
	min-height: 55px;
	border-bottom: 1px solid #E3E3E3;
}
.preview-item .avatar {
	width: 35px;
	height: 35px;
	border-radius: 3px;
	position: absolute;
	left: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
	font-size: 1.2em;
	margin-top: 0;
}
.preview-item *, .line-item * {
	pointer-events: none;
}
.preview-item.no-result, .line-item.no-result {
	padding: 10px;
	pointer-events: none;
}
.preview-item > div {
	font-size: 1em;
}
.preview-item > span {
	font-size: .8em;
}
.preview-item:hover, .line-item:hover  {
	background: #f1f1f1;
	cursor: pointer;
}
.ask-question {
	padding: 6px 5px 6px 10px;
	height: 40px;
}
.ask-question a {
	width: 100px;
	margin: 0;
	border: 0;
}
.ask-question span {
	display: inline-block;
	line-height: 32px;
}
/* Sidebar blocks */
/* topics */
.
.topic .title {
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 5px;
}
.topic input[type=text] {
	height: 30px;
	padding: 0 10px;
	border: 1px solid #E7EAED;
	box-sizing: border-box !important;
	font-size: .9em;
	margin: 5px 0 10px;
	border-radius: 3px;
	width: 100%;
}
.topic button {
	position: absolute;
	top: 5px;
	right: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: transparent;
	-webkit-transition: .1s;
	transition: .1s;
}
.topic .preview-item {
	margin: 0 -12px;
	border-bottom: 1px solid #f1f1f1;
	display: block;
	text-decoration: none !important;
}
.topic .preview-item * {
	pointer-events: none;
	text-decoration: none !important;
}
/* Home feed */
.no-feed {
	padding-left: 130px !important;
	position: relative;
	height: 100px;
}
.no-feed div {
	text-align: left;
}
.no-feed i {
	position: absolute;
	left: 15px;
	font-size: 80px;
	color: #E3E3E3;
}
