.ask {
	padding: 24px 24px 46px 24px;
}
.ask .title {
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 5px;
}
.ask .form {
	border-radius: 3px;
}
.ask .form input {
	margin-bottom: 7px;
	border-radius: 3px;
	width: 100%;
	padding: 5px 5px;
}

.ask .form .btn {
	margin: 5px 0 0;
	float: right;
}
.ask .form .terms {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
}
.ask .form .terms input {
	display: inline-block;
	width: auto;
}
.ask .form .terms label {
	cursor: pointer;
}
.ask .toolbar {
	margin-top: 5px;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #E7EAED;
	line-height: 40px;
	padding: 2px 5px;
	position: relative;
	z-index: 2;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.ask .toolbar i {
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}
.ask .toolbar i.right {
	margin-top: 3px;
}
.ask textarea {
	border: 1px solid #E7EAED;
	padding: 10px;
	width: 100%;
	width: 100%;
	resize: vertical;
	min-height: 165px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.ask .actions .toggle {
	width: auto;
	float: left;
	padding-top: 10px;
}
.ask .actions .toggle * {
	display: inline-block;
	vertical-align: initial;
	width: auto;
	margin-right: 4px;
}
.ask .advanced .title {
	font-size: 1.2em;
	font-weight: 400;
}
.ask .advanced label {
	margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    font-size: 1.1em;
}
.ask label i {
	margin-right: 3px;
    font-size: 1.2em;
}
.ask .advanced .add-option {
	padding: 5px 5px 5px 28px;
	position: relative;
	border-radius: 3px;
	margin-bottom: 7px;
}
.ask .advanced .add-option .radio {
	position: absolute;
    left: 5px;
    height: 32px;
    width: 20px;
}
.ask .advanced .add-option .value {
	margin: 0;
	padding-right: 25px;
}
.ask .advanced .add-option i {
	position: absolute;
    height: 28px;
    line-height: 28px;
    right: 12px;
    top: 6px;
    cursor: pointer;
}
.ask .add-extra {
	padding-left: 8px;
    margin-top: 12px;
}
.ask .add-extra i {
	margin-right: 5px;
}
.ask .add-petition textarea {
	border-radius: 3px;
	min-height: 65px;
}
.ask .hr {
	margin: 12px 0;
}
.ask .recipient {
	padding: 5px 25px 5px 60px;
  border-radius: 3px;
  margin-bottom: 5px;
  position: relative;
	min-height: 57px;

}
.ask .recipient .avatar{
	width: 45px;
  height: 45px;
  border-radius: 3px;
  position: absolute;
  left: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  font-size: 1.2em;
}
.ask .recipient i {
	position: absolute;
    top: 0;
    right: 7px;
    height: 23px;
    line-height: 20px;
    cursor: pointer;
}
.ask .recipient .color {
	font-size: 1.1em;
}
.ask .recipient .color-grey {
	font-size: .9em;
}

.specific-user .row {
	margin-left: -2px;
    margin-right: -2px;
}
.specific-user .row > div {
	padding-left: 2px;
    padding-right: 2px;
}
.specific-user .row > div i {
	cursor: pointer;
}
.ask .tags {
	border-radius: 3px;
	margin-top: 7px;
}
.ask .tags .created-tag {
	padding: 1px 27px 1px 7px;
    border-radius: 3px;
    margin-right: 2px;
		margin-bottom: 4px;
    position: relative;
    font-size: .9em;
    display: inline-block;
    vertical-align: middle;
}
.ask .tags .created-tag span {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	height: 26px;
	line-height: 26px;
	text-overflow: ellipsis;
}
.ask .tags .created-tag i{
	position: absolute;
    top: 0;
    right: 7px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
}
.ask .tags input {
	width: auto;
    border: none;
    margin: 0;
    padding: 0 5px;
    display: inline-block;
    vertical-align: middle;
    height: 26px;
}
.ask .tag-label {
	font-size: .9em;
	margin-top: 10px;
}
.spacer {
	width: 100%;
	height: 8px;
}

.ask .user-searchbox-wrapper {
	position:relative;
}

.ask .user-searchbox {
	padding-top:12px;
	position: absolute;
		background: #fff;
		z-index:1;
		width:100%;
    left: 0;
    top: 0;
    text-align: left;
  /*pointer-events: none;*/
    transition: .2s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.user-searchbox .dotted {
	margin: 0;
}

.ask .user-result {
	width:100%;
	position:relative;
	padding:7px 12px 7px 65px;
	height:50px;
	border-bottom: 1px solid #E3E3E3;
}

.user-searchbox .title {
	padding-left:12px;
}
