.avatar-component {
	text-decoration: none !important;
}
.avatar {
	background: #FFF;
	border: 1px solid #E7EAED;
	color:#fff;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
}
.avatar span {
	display: block;
	width: 100%;
	opacity: 1 !important;
	color: rgba(255,255,255,.7);
}
.avatar.default {
	background: #E3E3E3;
	border: 1px solid #E3E3E3;
}
.avatar.defaulta, .avatar.defaultg, .avatar.defaultm, .avatar.defaultt, .avatar.default1, .avatar.default9 {
	background: #F6EABC;
	border: 1px solid #F6EABC;
}
.avatar.defaultb, .avatar.defaulth, .avatar.defaulto, .avatar.defaultu, .avatar.defaultz, .avatar.default4 {
	background: #C8D2A8;
	border: 1px solid #C8D2A8;
}
.avatar.defaultc, .avatar.defaulti, .avatar.defaultp, .avatar.defaultv, .avatar.default0, .avatar.default5 {
	background: #E8ADAE;
	border: 1px solid #E8ADAE;
}
.avatar.defaultd, .avatar.defaultj, .avatar.defaultq, .avatar.defaultw, .avatar.default2, .avatar.default6 {
	background: #E99596;
	border: 1px solid #E99596;
}
.avatar.defaulte, .avatar.defaultk, .avatar.defaultr, .avatar.defaultx, .avatar.defaultn, .avatar.default7 {
	background: #AFC4B7;
	border: 1px solid #AFC4B7;
}
.avatar.defaultf, .avatar.defaultl, .avatar.defaults, .avatar.defaulty , .avatar.default3, .avatar.default8 {
	background: #9BBDB5;
	border: 1px solid #9BBDB5;
}

.avatar.defaultflag {
	background: firebrick;
	border: 1px solid firebrick;
}
.avatar.defaultflag span {
	color: #FFF;
}
