.contact {
	padding: 24px;
}
.contact .title {
	font-size: 1.4em;
	font-weight: 600;
	margin: 0 0 5px;
	padding: 0;
}
.contact label {
	font-size: .8em;
}
.contact input[type="text"] {
	width: 100%;
	height: 30px;
	padding: 0 10px;
	border: 1px solid #E7EAED;
	box-sizing: border-box !important;
	font-size: .9em;
	margin:-2px 0 10px;
	border-radius: 3px;
}
.contact textarea {
	width: 100%;
	min-height: 170px;
	padding: 10px;
	border: 1px solid #E7EAED;
	box-sizing: border-box !important;
	font-size: .9em;
	margin:-2px 0 10px;
	border-radius: 3px;
	resize: vertical;
}
.contact input[type="text"]:focus, .contact textarea:focus {
	border: 1px solid #CECECE;
}
input.invalid, textarea.invalid {
	border: 1px solid firebrick !important;
}
.contact .error-msg {
	padding-left: 5px;
	color: firebrick;
	display: none;
}
#formError {
	line-height: 30px;
	margin-top: 10px;
}
/* Decoy input */
.flip-flop {
	position: absolute;
	top: -120vh;
	left: -120vw;
}
