/* list */
.list {
	position: relative;
}
.list-header {
	width: 100%;
	background: #FFF;
	border-bottom: 1px solid #E7EAED;
	height: 40px;
	line-height: 50px;
	text-align: center;
}
.list-header .tab {
	display: inline-block;
	margin: 0 7px;
	height: 40px;
	cursor: pointer;
}
.item {
	position: relative;
	padding: 12px;
	padding-left: 59px;
}
.item .avatar {
	width: 35px;
	height: 35px;
	line-height: 38px;
	border-radius: 3px;
	position: absolute;
	left: 12px;
}
.item .actions span i {
	margin: 0 3px;
}
.list .dotted {
	margin: 0;
}
.list .item a {
	display: block;
}
.list .item .sm {
	font-size: .8em;
}
.list .item .title {
	font-size: 1.3em;
	display: inline-block;
}
.list .item .name {
	text-decoration: none;
	font-size: .9em;
}
.list .item .description {
	font-size: 14px;
	line-height: 15px;
	max-height: 30px;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
	overflow: hidden;
	margin: 3px 0 30px;
}
.load-more {
	padding: 6px 0;
	text-align: center;
}
.load-more .btn {
	margin: 5px auto 12px;
}
.item.answered {
	padding-left: 12px;
}
.item.answered .title {
	margin-bottom: 8px;
}
.item.answered .details {
	padding-left: 47px;
}
.list .item.answered .description {
	font-size: 14px;
	line-height: 15px;
	max-height: 60px;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
	overflow: hidden;
	margin: 3px 0 30px;
}
.list .item .tag-line {
	font-size: .8em;
	color: #999;
}
/* loading-feed */
.loading-feed {
	width: 100%;
	text-align: center;
}
.loading-feed span {
	display: inline-block;
	vertical-align: middle;
	background: #E3E3E3;
	border-radius: 3px;
	animation-name: pulse1;
  animation-duration: 1.2s;
	width: 12px;height: 20px;margin: 8px 3px;
	animation-iteration-count: infinite;
}
@keyframes pulse1 {
    0%   {background: #E3E3E3;}
    20%  {background: #CCC;}
		60% {background: #E3E3E3;}
    100% {background: #E3E3E3;}
}
.loading-feed span:nth-child(2) {
	animation-delay: .4s;
}
.loading-feed span:nth-child(3) {
	animation-delay: .8s;
}
