.clearfix::after {
  clear: both;
  display: block;
  content: "";
  height: 0;
}
.burgerzetel-theme.fr-box.fr-basic .fr-element {
  color: #000000;
  padding: 12px;
  overflow-x: auto;
  border: 1px solid #E3E3E3;
}
.burgerzetel-theme .fr-element {
  -webkit-user-select: auto;
}
.burgerzetel-theme.fr-box a.fr-floating-btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 32px;
  width: 32px;
  background: #ffffff;
  color: #2988BD;
  -webkit-transition: background 0.1s ease 0s, color 0.1s ease 0s, transform 0.1s ease 0s;
  -moz-transition: background 0.1s ease 0s, color 0.1s ease 0s, transform 0.1s ease 0s;
  -ms-transition: background 0.1s ease 0s, color 0.1s ease 0s, transform 0.1s ease 0s;
  -o-transition: background 0.1s ease 0s, color 0.1s ease 0s, transform 0.1s ease 0s;
  left: 0;
  top: 0;
  line-height: 32px;
  border: none;
}
.burgerzetel-theme.fr-box a.fr-floating-btn svg {
  -webkit-transition: transform 0.1s ease 0s;
  -moz-transition: transform 0.1s ease 0s;
  -ms-transition: transform 0.1s ease 0s;
  -o-transition: transform 0.1s ease 0s;
  fill: #2988BD;
}
.burgerzetel-theme.fr-box a.fr-floating-btn i {
  font-size: 14px;
  line-height: 32px;
}
.burgerzetel-theme.fr-box a.fr-floating-btn:hover {
  background: #ebebeb;
}
.burgerzetel-theme.fr-box a.fr-floating-btn:hover svg {
  fill: #2988BD;
}
.burgerzetel-theme .fr-wrapper .fr-placeholder {
  font-size: 12px;
  color: #aaaaaa;
  top: 0;
  left: 0;
}
.burgerzetel-theme .fr-wrapper ::selection {
  background: #b5d6fd;
  color: #000000;
}
.burgerzetel-theme .fr-wrapper ::-moz-selection {
  background: #b5d6fd;
  color: #000000;
}
.burgerzetel-theme.fr-box.fr-rtl .fr-wrapper .fr-placeholder {
  right: 0;
  left: auto;
}
.burgerzetel-theme.fr-box.fr-basic .fr-wrapper {
  background: #ffffff;
  border: 0px;
  border-top: 0;
  top: 0;
  left: 0;
}
.burgerzetel-theme.fr-box.fr-basic.fr-rtl .fr-wrapper .fr-placeholder {
  right: 0;
  left: auto;
}
.burgerzetel-theme.fr-box.fr-basic.fr-top .fr-wrapper {
  border-top: 0;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.burgerzetel-theme.fr-box.fr-basic.fr-bottom .fr-wrapper {
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.burgerzetel-theme .fr-sticky-on.fr-sticky-ios {
  left: 0;
  right: 0;
}
.burgerzetel-theme.fr-box .fr-counter {
  color: #cccccc;
  background: #ffffff;
  border-top: solid 1px #ebebeb;
  border-left: solid 1px #ebebeb;
  border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.burgerzetel-theme.fr-box.fr-rtl .fr-counter {
  right: auto;
  border-right: solid 1px #ebebeb;
  border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.burgerzetel-theme textarea.fr-code {
  background: #ffffff;
  color: #000000;
}
.burgerzetel-theme.fr-box.fr-code-view.fr-inline {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.burgerzetel-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch {
  top: 0;
  right: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
  color: #222222;
  -moz-outline: 0;
  outline: 0;
  border: 0;
  padding: 11px 11.5px;
  -webkit-transition: background 0.1s ease 0s;
  -moz-transition: background 0.1s ease 0s;
  -ms-transition: background 0.1s ease 0s;
  -o-transition: background 0.1s ease 0s;
}
.burgerzetel-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch i {
  font-size: 15px;
  width: 15px;
}
.burgerzetel-theme.fr-box.fr-inline .fr-command.fr-btn.html-switch.fr-desktop:hover {
  background: #ebebeb;
}
.burgerzetel-theme.fr-popup .fr-colors-tabs {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.burgerzetel-theme.fr-popup .fr-colors-tabs .fr-colors-tab {
  color: #222222;
  padding: 8px 0;
}
.burgerzetel-theme.fr-popup .fr-colors-tabs .fr-colors-tab:hover {
  color: #2988BD;
}
.burgerzetel-theme.fr-popup .fr-colors-tabs .fr-colors-tab[data-param1="background"]::after {
  bottom: 0;
  left: 0;
  background: #2988BD;
  -webkit-transition: transform 0.1s ease 0s;
  -moz-transition: transform 0.1s ease 0s;
  -ms-transition: transform 0.1s ease 0s;
  -o-transition: transform 0.1s ease 0s;
}
.burgerzetel-theme.fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab {
  color: #2988BD;
}
.burgerzetel-theme.fr-popup .fr-color-set {
  line-height: 0;
}
.burgerzetel-theme.fr-popup .fr-color-set > span > i {
  bottom: 0;
  left: 0;
}
.burgerzetel-theme.fr-popup .fr-color-set > span.fr-selected-color::after {
  color: #ffffff;
  font-weight: 400;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.burgerzetel-theme.fr-popup .fr-color-set > span:hover,
.burgerzetel-theme.fr-popup .fr-color-set > span.fr-selected-color {
  outline: 1px solid #222222;
}
.burgerzetel-theme .fr-drag-helper {
  background: #2988BD;
}
.burgerzetel-theme .fr-file-upload-layer {
  border: dashed 2px #bdbdbd;
  padding: 25px 0;
}
.burgerzetel-theme .fr-file-upload-layer:hover {
  background: #ebebeb;
}
.burgerzetel-theme .fr-file-upload-layer.fr-drop {
  background: #ebebeb;
  border-color: #2988BD;
}
.burgerzetel-theme .fr-file-upload-layer .fr-form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.burgerzetel-theme .fr-file-progress-bar-layer > h3 {
  margin: 10px 0;
}
.burgerzetel-theme .fr-file-progress-bar-layer > div.fr-loader {
  background: #bcdbf7;
}
.burgerzetel-theme .fr-file-progress-bar-layer > div.fr-loader span {
  background: #2988BD;
  -webkit-transition: width 0.1s ease 0s;
  -moz-transition: width 0.1s ease 0s;
  -ms-transition: width 0.1s ease 0s;
  -o-transition: width 0.1s ease 0s;
}
.burgerzetel-theme .fr-file-progress-bar-layer > div.fr-loader.fr-indeterminate span {
  top: 0;
}
.burgerzetel-theme.fr-box.fr-fullscreen {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.burgerzetel-theme .fr-image-resizer {
  border: solid 1px #2988BD;
}
.burgerzetel-theme .fr-image-resizer .fr-handler {
  background: #2988BD;
  border: solid 1px #ffffff;
}
.burgerzetel-theme .fr-image-resizer .fr-handler {
  width: 12px;
  height: 12px;
}
.burgerzetel-theme .fr-image-resizer .fr-handler.fr-hnw {
  left: -6px;
  top: -6px;
}
.burgerzetel-theme .fr-image-resizer .fr-handler.fr-hne {
  right: -6px;
  top: -6px;
}
.burgerzetel-theme .fr-image-resizer .fr-handler.fr-hsw {
  left: -6px;
  bottom: -6px;
}
.burgerzetel-theme .fr-image-resizer .fr-handler.fr-hse {
  right: -6px;
  bottom: -6px;
}
@media (min-width: 1200px) {
  .burgerzetel-theme .fr-image-resizer .fr-handler {
    width: 10px;
    height: 10px;
  }
  .burgerzetel-theme .fr-image-resizer .fr-handler.fr-hnw {
    left: -5px;
    top: -5px;
  }
  .burgerzetel-theme .fr-image-resizer .fr-handler.fr-hne {
    right: -5px;
    top: -5px;
  }
  .burgerzetel-theme .fr-image-resizer .fr-handler.fr-hsw {
    left: -5px;
    bottom: -5px;
  }
  .burgerzetel-theme .fr-image-resizer .fr-handler.fr-hse {
    right: -5px;
    bottom: -5px;
  }
}
.burgerzetel-theme.fr-image-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.burgerzetel-theme .fr-image-upload-layer {
  border: dashed 2px #bdbdbd;
  padding: 25px 0;
}
.burgerzetel-theme .fr-image-upload-layer:hover {
  background: #ebebeb;
}
.burgerzetel-theme .fr-image-upload-layer.fr-drop {
  background: #ebebeb;
  border-color: #2988BD;
}
.burgerzetel-theme .fr-image-upload-layer .fr-form {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.burgerzetel-theme .fr-image-progress-bar-layer > h3 {
  margin: 10px 0;
}
.burgerzetel-theme .fr-image-progress-bar-layer > div.fr-loader {
  background: #bcdbf7;
}
.burgerzetel-theme .fr-image-progress-bar-layer > div.fr-loader span {
  background: #2988BD;
  -webkit-transition: width 0.1s ease 0s;
  -moz-transition: width 0.1s ease 0s;
  -ms-transition: width 0.1s ease 0s;
  -o-transition: width 0.1s ease 0s;
}
.burgerzetel-theme .fr-image-progress-bar-layer > div.fr-loader.fr-indeterminate span {
  top: 0;
}
.burgerzetel-theme.fr-modal {
  overflow-x: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 20px auto;
  background: #E3E3E3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .burgerzetel-theme.fr-modal .fr-modal-wrapper {
    margin: 30px auto;
  }
}
@media (min-width: 992px) {
  .burgerzetel-theme.fr-modal .fr-modal-wrapper {
    margin: 50px auto;
  }
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper .fr-preloader {
  margin: 50px auto;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper .fr-modal-title {
  background: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 0px;
  -webkit-transition: height 0.1s ease 0s;
  -moz-transition: height 0.1s ease 0s;
  -ms-transition: height 0.1s ease 0s;
  -o-transition: height 0.1s ease 0s;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-title-line h4 {
  color: #222222;
  margin: 0;
  font-weight: 400;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-title-line i {
  color: #222222;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-title-line i.fr-modal-more {
  -webkit-transition: padding 0.1s ease 0s, width 0.1s ease 0s, opacity 0.1s ease 0s;
  -moz-transition: padding 0.1s ease 0s, width 0.1s ease 0s, opacity 0.1s ease 0s;
  -ms-transition: padding 0.1s ease 0s, width 0.1s ease 0s, opacity 0.1s ease 0s;
  -o-transition: padding 0.1s ease 0s, width 0.1s ease 0s, opacity 0.1s ease 0s;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-title-line i.fr-modal-more.fr-not-available {
  opacity: 0;
  width: 0;
  padding: 12px 0;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-title-line i.fr-modal-close {
  top: 0;
  right: 0;
  -webkit-transition: color 0.1s ease 0s;
  -moz-transition: color 0.1s ease 0s;
  -ms-transition: color 0.1s ease 0s;
  -o-transition: color 0.1s ease 0s;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-tags a {
  opacity: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #2988BD;
  -webkit-transition: opacity 0.1s ease 0s, background 0.1s ease 0s;
  -moz-transition: opacity 0.1s ease 0s, background 0.1s ease 0s;
  -ms-transition: opacity 0.1s ease 0s, background 0.1s ease 0s;
  -o-transition: opacity 0.1s ease 0s, background 0.1s ease 0s;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper .fr-modal-title .fr-modal-tags a.fr-selected-tag {
  background: #768694;
  color: #FFF;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list {
  padding: 0;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container.fr-image-deleting::after {
  -webkit-transition: opacity 0.1s ease 0s;
  -moz-transition: opacity 0.1s ease 0s;
  -ms-transition: opacity 0.1s ease 0s;
  -o-transition: opacity 0.1s ease 0s;
  background: #000000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container.fr-image-deleting::before {
  color: #ffffff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container.fr-empty {
  background: #cccccc;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container.fr-empty::after {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container img {
  -webkit-transition: opacity 0.1s ease 0s, filter 0.1s ease 0s;
  -moz-transition: opacity 0.1s ease 0s, filter 0.1s ease 0s;
  -ms-transition: opacity 0.1s ease 0s, filter 0.1s ease 0s;
  -o-transition: opacity 0.1s ease 0s, filter 0.1s ease 0s;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-delete-img,
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-insert-img {
  -webkit-transition: background 0.1s ease 0s, color 0.1s ease 0s;
  -moz-transition: background 0.1s ease 0s, color 0.1s ease 0s;
  -ms-transition: background 0.1s ease 0s, color 0.1s ease 0s;
  -o-transition: background 0.1s ease 0s, color 0.1s ease 0s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-delete-img {
  background: #b8312f;
  color: #ffffff;
}
.burgerzetel-theme.fr-modal .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-insert-img {
  background: #ffffff;
  color: #2988BD;
}
.burgerzetel-theme.fr-modal.fr-desktop .fr-modal-wrapper .fr-modal-title .fr-modal-title-line i:hover {
  background: #ebebeb;
}
.burgerzetel-theme.fr-modal.fr-desktop .fr-modal-wrapper .fr-modal-title .fr-modal-tags a:hover {
  background: #ebebeb;
}
.burgerzetel-theme.fr-modal.fr-desktop .fr-modal-wrapper .fr-modal-title .fr-modal-tags a.fr-selected-tag {
  background: #768694;
  color: #FFF;
}
.burgerzetel-theme.fr-modal.fr-desktop .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-delete-img:hover {
  background: #bf4644;
  color: #ffffff;
}
.burgerzetel-theme.fr-modal.fr-desktop .fr-modal-wrapper div.fr-scroller div.fr-image-list div.fr-image-container .fr-insert-img:hover {
  background: #ebebeb;
}
.burgerzetel-theme.fr-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
}
.burgerzetel-theme .fr-line-breaker {
  border-top: 1px solid #2988BD;
}
.burgerzetel-theme .fr-line-breaker a.fr-floating-btn {
  left: calc(34%);
  top: -16px;
}
.burgerzetel-theme .fr-qi-helper {
  padding-left: 12px;
}
.burgerzetel-theme .fr-qi-helper a.fr-btn.fr-floating-btn {
  color: #222222;
}
.burgerzetel-theme .fr-element table td.fr-selected-cell,
.burgerzetel-theme .fr-element table th.fr-selected-cell {
  border: 1px double #2988BD;
}
.burgerzetel-theme .fr-table-resizer div {
  border-right: 1px solid #2988BD;
}
.burgerzetel-theme.fr-popup .fr-table-size .fr-select-table-size {
  line-height: 0;
}
.burgerzetel-theme.fr-popup .fr-table-size .fr-select-table-size > span {
  padding: 0px 4px 4px 0;
}
.burgerzetel-theme.fr-popup .fr-table-size .fr-select-table-size > span > span {
  border: 1px solid #dddddd;
}
.burgerzetel-theme.fr-popup .fr-table-size .fr-select-table-size > span:hover > span,
.burgerzetel-theme.fr-popup .fr-table-size .fr-select-table-size > span.hover > span {
  background: rgba(30, 136, 229, 0.3);
  border: solid 1px #2988BD;
}
.burgerzetel-theme.fr-popup .fr-table-colors {
  line-height: 0;
}
.burgerzetel-theme.fr-popup .fr-table-colors > span > i {
  bottom: 0;
  left: 0;
}
.burgerzetel-theme.fr-popup .fr-table-colors > span.fr-selected-color::after {
  color: #ffffff;
  font-weight: 400;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.burgerzetel-theme.fr-popup .fr-table-colors > span:hover,
.burgerzetel-theme.fr-popup .fr-table-colors > span.fr-selected-color {
  outline: 1px solid #222222;
}
.burgerzetel-theme .fr-element .fr-video::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.burgerzetel-theme.fr-box .fr-video-resizer {
  border: solid 1px #2988BD;
}
.burgerzetel-theme.fr-box .fr-video-resizer .fr-handler {
  background: #2988BD;
  border: solid 1px #ffffff;
}
.burgerzetel-theme.fr-box .fr-video-resizer .fr-handler {
  width: 12px;
  height: 12px;
}
.burgerzetel-theme.fr-box .fr-video-resizer .fr-handler.fr-hnw {
  left: -6px;
  top: -6px;
}
.burgerzetel-theme.fr-box .fr-video-resizer .fr-handler.fr-hne {
  right: -6px;
  top: -6px;
}
.burgerzetel-theme.fr-box .fr-video-resizer .fr-handler.fr-hsw {
  left: -6px;
  bottom: -6px;
}
.burgerzetel-theme.fr-box .fr-video-resizer .fr-handler.fr-hse {
  right: -6px;
  bottom: -6px;
}
@media (min-width: 1200px) {
  .burgerzetel-theme.fr-box .fr-video-resizer .fr-handler {
    width: 10px;
    height: 10px;
  }
  .burgerzetel-theme.fr-box .fr-video-resizer .fr-handler.fr-hnw {
    left: -5px;
    top: -5px;
  }
  .burgerzetel-theme.fr-box .fr-video-resizer .fr-handler.fr-hne {
    right: -5px;
    top: -5px;
  }
  .burgerzetel-theme.fr-box .fr-video-resizer .fr-handler.fr-hsw {
    left: -5px;
    bottom: -5px;
  }
  .burgerzetel-theme.fr-box .fr-video-resizer .fr-handler.fr-hse {
    right: -5px;
    bottom: -5px;
  }
}
.burgerzetel-theme.fr-video-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.burgerzetel-theme .fr-view strong {
  font-weight: 700;
}
.burgerzetel-theme .fr-view table.fr-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}
.burgerzetel-theme .fr-view table td,
.burgerzetel-theme .fr-view table th {
  border: 1px solid #dddddd;
}
.burgerzetel-theme .fr-view table th {
  background: #e6e6e6;
}
.burgerzetel-theme .fr-view[dir="rtl"] blockquote {
  border-right: solid 2px #5e35b1;
  margin-right: 0;
}
.burgerzetel-theme .fr-view[dir="rtl"] blockquote blockquote {
  border-color: #00bcd4;
}
.burgerzetel-theme .fr-view[dir="rtl"] blockquote blockquote blockquote {
  border-color: #43a047;
}
.burgerzetel-theme .fr-view blockquote {
  border-left: solid 2px #5e35b1;
  margin-left: 0;
  color: #5e35b1;
}
.burgerzetel-theme .fr-view blockquote blockquote {
  border-color: #00bcd4;
  color: #00bcd4;
}
.burgerzetel-theme .fr-view blockquote blockquote blockquote {
  border-color: #43a047;
  color: #43a047;
}
.burgerzetel-theme .fr-view span.fr-emoticon {
  line-height: 0;
}
.burgerzetel-theme .fr-view span.fr-emoticon.fr-emoticon-img {
  font-size: inherit;
  width: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: text-top;
}
.fr-view span.fr-emoticon.fr-emoticon-img {
  font-size: inherit;
  width: 20px;
  display: inline-block;
  height: 20px;
  vertical-align: text-top;
}
.burgerzetel-theme .fr-view .fr-text-bordered {
  padding: 10px 0;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn,
.burgerzetel-theme.fr-popup .fr-command.fr-btn {
  color: #2B567F;
  -moz-outline: 0;
  outline: 0;
  border: 0;
  margin: 0px 2px;
  -webkit-transition: background 0s ease 0s;
  -moz-transition: background 0s ease 0s;
  -ms-transition: background 0s ease 0s;
  -o-transition: background 0s ease 0s;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-btn-text,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-btn-text {
  width: auto;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn i,
.burgerzetel-theme.fr-popup .fr-command.fr-btn i {
  font-size: 1em;
  margin: 0;
  width: 100% !important;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn span,
.burgerzetel-theme.fr-popup .fr-command.fr-btn span {
  font-size: 14px;
  line-height: 14px;
  min-width: 38px;
  height: 15px;
  padding: 0 2px;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn img,
.burgerzetel-theme.fr-popup .fr-command.fr-btn img {

}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-active,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-active {
  color: #FFF;
  background: #2B567F;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-selection,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-selection {
  width: auto;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown i,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown i,
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown span,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown span,
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown img,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown img {
  margin-left: 7.5px;
  margin-right: 15.5px;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active {
  color: #222222;
  background: #d6d6d6;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover,
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus {
  background: #d6d6d6 !important;
  color: #222222 !important;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:hover::after,
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:focus::after,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown.fr-active:focus::after {
  border-top-color: #222222 !important;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-dropdown::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #222222;
  right: 3.75px;
  top: 16.5px;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-disabled,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-disabled {
  color: #bdbdbd;
}
.burgerzetel-theme.fr-toolbar .fr-command.fr-btn.fr-disabled::after,
.burgerzetel-theme.fr-popup .fr-command.fr-btn.fr-disabled::after {
  border-top-color: #bdbdbd !important;
}
.burgerzetel-theme.fr-toolbar.fr-disabled .fr-btn,
.burgerzetel-theme.fr-popup.fr-disabled .fr-btn,
.burgerzetel-theme.fr-toolbar.fr-disabled .fr-btn.fr-active,
.burgerzetel-theme.fr-popup.fr-disabled .fr-btn.fr-active {
  color: #bdbdbd;
}
.burgerzetel-theme.fr-toolbar.fr-disabled .fr-btn.fr-dropdown::after,
.burgerzetel-theme.fr-popup.fr-disabled .fr-btn.fr-dropdown::after,
.burgerzetel-theme.fr-toolbar.fr-disabled .fr-btn.fr-active.fr-dropdown::after,
.burgerzetel-theme.fr-popup.fr-disabled .fr-btn.fr-active.fr-dropdown::after {
  border-top-color: #bdbdbd;
}
.burgerzetel-theme.fr-desktop .fr-command:hover,
.burgerzetel-theme.fr-desktop .fr-command:focus {
  color: #FFF;
  background: #768694;
}
.burgerzetel-theme.fr-desktop .fr-command:hover::after,
.burgerzetel-theme.fr-desktop .fr-command:focus::after {
  border-top-color: #222222 !important;
}
.burgerzetel-theme.fr-desktop .fr-command.fr-selected {
  background: #768694;
  color: #FFF;
}
.burgerzetel-theme.fr-desktop .fr-command.fr-active:hover,
.burgerzetel-theme.fr-desktop .fr-command.fr-active:focus {
  background: #768694;
  color: #FFF;
}
.burgerzetel-theme.fr-desktop .fr-command.fr-active.fr-selected {
  background: #768694;
  color: #FFF;
}
.burgerzetel-theme.fr-toolbar.fr-mobile .fr-command.fr-blink,
.burgerzetel-theme.fr-popup.fr-mobile .fr-command.fr-blink {
  background: transparent;
}
.burgerzetel-theme .fr-command.fr-btn + .fr-dropdown-menu {
  right: auto;
  bottom: auto;
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.burgerzetel-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper {
  background: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: auto;
  -webkit-transition: max-height 0.1s ease 0s;
  -moz-transition: max-height 0.1s ease 0s;
  -ms-transition: max-height 0.1s ease 0s;
  -o-transition: max-height 0.1s ease 0s;
  margin-top: 0;
  max-height: 0;
  height: 0;
}
.burgerzetel-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content {
  overflow: auto;
  max-height: 275px;
}
.burgerzetel-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list {
  margin: 0;
  padding: 0;
}
.burgerzetel-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li {
  padding: 0;
  margin: 0;
}
.burgerzetel-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a {
  color: inherit;
}
.burgerzetel-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-active {
  background: #d6d6d6;
}
.burgerzetel-theme .fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a.fr-disabled {
  color: #bdbdbd;
}
.burgerzetel-theme .fr-command.fr-btn.fr-active + .fr-dropdown-menu .fr-dropdown-wrapper {
  height: auto;
  max-height: 275px;
}
.burgerzetel-theme .fr-bottom > .fr-command.fr-btn + .fr-dropdown-menu {
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.burgerzetel-theme.fr-popup {
  padding: 5px 2px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: Arial, Helvetica, sans-serif;
  border: 0px;
  border-top: 1px solid #CCC;
}
.burgerzetel-theme.fr-popup.fr-above {
  border-top: 0;
  border-bottom: 5px solid #222222;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.burgerzetel-theme.fr-popup .fr-input-line {
  padding: 8px 0;
}
.burgerzetel-theme.fr-popup .fr-input-line input[type="text"],
.burgerzetel-theme.fr-popup .fr-input-line textarea {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #E7EAED;
  box-sizing: border-box !important;
  font-size: .9em;
  border-radius: 3px;
  color: #555;
  margin-bottom: 0;
}
.burgerzetel-theme.fr-popup .fr-input-line input[type="text"]:focus,
.burgerzetel-theme.fr-popup .fr-input-line textarea:focus {
  border: 1px solid #CECECE;
}
.burgerzetel-theme.fr-popup .fr-input-line input + label,
.burgerzetel-theme.fr-popup .fr-input-line textarea + label {
  display: none;
}
.burgerzetel-theme.fr-popup .fr-input-line input.fr-not-empty:focus + label,
.burgerzetel-theme.fr-popup .fr-input-line textarea.fr-not-empty:focus + label {
  display: none;
}
.burgerzetel-theme.fr-popup .fr-input-line input.fr-not-empty + label,
.burgerzetel-theme.fr-popup .fr-input-line textarea.fr-not-empty + label {
  display: none;
}
.burgerzetel-theme.fr-popup .fr-buttons {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0 2px;
  line-height: 0;
  border-bottom: 0px;
}
.burgerzetel-theme.fr-popup .fr-layer {
  width: 225px;
}
@media (min-width: 768px) {
  .burgerzetel-theme.fr-popup .fr-layer {
    width: 300px;
  }
}
.burgerzetel-theme.fr-popup .fr-action-buttons button.fr-command {
  color: #FFF;
  background: #2B567F;
  -webkit-transition: background 0.1s ease 0s;
  -moz-transition: background 0.1s ease 0s;
  -ms-transition: background 0.1s ease 0s;
  -o-transition: background 0.1s ease 0s;
  height: 30px !important;
  line-height: 30px;
  font-size: .9em;
  border-radius: 3px;
  -webkit-transition: .1s;
  transition: .1s;
  white-space: nowrap;
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  text-decoration: none !important;
  margin: 4px 0 0 0;
  min-width: 80px;
  cursor: pointer;
}
.burgerzetel-theme.fr-popup .fr-action-buttons button.fr-command:hover,
.burgerzetel-theme.fr-popup .fr-action-buttons button.fr-command:focus {
  background: #2988BD;
  color: #FFF;
}
.burgerzetel-theme.fr-popup .fr-action-buttons button.fr-command:active {
  background: #2988BD;
  color: #FFF;
}
.burgerzetel-theme.fr-popup .fr-action-buttons button::-moz-focus-inner {
  border: 0;
}
.burgerzetel-theme.fr-popup .fr-checkbox span {
  border: solid 1px #222222;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background 0.1s ease 0s, border-color 0.1s ease 0s;
  -moz-transition: background 0.1s ease 0s, border-color 0.1s ease 0s;
  -ms-transition: background 0.1s ease 0s, border-color 0.1s ease 0s;
  -o-transition: background 0.1s ease 0s, border-color 0.1s ease 0s;
}
.burgerzetel-theme.fr-popup .fr-checkbox input {
  margin: 0;
  padding: 0;
}
.burgerzetel-theme.fr-popup .fr-checkbox input:checked + span {
  background: #2988BD;
  border-color: #2988BD;
}
.burgerzetel-theme.fr-popup .fr-checkbox input:focus + span {
  border-color: #2988BD;
}
.burgerzetel-theme.fr-popup.fr-rtl .fr-input-line input + label,
.burgerzetel-theme.fr-popup.fr-rtl .fr-input-line textarea + label {
  left: auto;
  right: 0;
}
.burgerzetel-theme.fr-popup .fr-arrow {
  width: 0;
  height: 0;
  border: none;
  margin-left: -5px;
}
.burgerzetel-theme.fr-popup.fr-above .fr-arrow {
  top: auto;
  bottom: -9px;
  border-bottom: 0;
  border-top: 5px solid #222222;
}
.burgerzetel-theme.fr-toolbar {
  color: #222222;
	background: #f9f9f9;
  border: 1px solid #E3E3E3;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 0px;
}
.burgerzetel-theme.fr-toolbar.fr-inline .fr-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #222222;
  top: -9px;
  margin-left: -5px;
}
.burgerzetel-theme.fr-toolbar.fr-inline.fr-above {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 5px solid #222222;
  border-top: 0;
}
.burgerzetel-theme.fr-toolbar.fr-inline.fr-above .fr-arrow {
  top: auto;
  bottom: -9px;
  border-bottom: 0;
  border-top-color: inherit;
  border-top-width: 5px;
}
.burgerzetel-theme.fr-toolbar.fr-top {
  top: 0;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.burgerzetel-theme.fr-toolbar.fr-bottom {
  bottom: 0;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.burgerzetel-theme .fr-separator {
  background: #ebebeb;
}
.burgerzetel-theme .fr-separator.fr-vs {
  height: 33px;
  width: 1px;
  margin: 2px;
}
.burgerzetel-theme .fr-separator.fr-hs {
  height: 1px;
  width: calc(96%);
  margin: 0 2px;
}
.burgerzetel-theme .fr-tooltip {
  top: 0;
  left: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #222222;
  color: #ffffff;
  font-size: 11px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: opacity 0.1s ease 0s;
  -moz-transition: opacity 0.1s ease 0s;
  -ms-transition: opacity 0.1s ease 0s;
  -o-transition: opacity 0.1s ease 0s;
}
.fr-popup .fr-emoticon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 3px;
  cursor: pointer;
}
.fr-popup .fr-emoticon img {
  height: 30px;
}
.fr-popup p {
  display: none;
}
.fr-command.fr-emoticon:hover{
  background: #EEE !important;
}
.fr-view a {
  color: #2988BD;
}
.fr-toolbar button:nth-child(1), .fr-toolbar button:nth-child(2), .fr-toolbar button:nth-child(3){
  float: right !important;
}
.fr-element.fr-view img {
  display: block !important;
}
.poor-editor-form .fr-toolbar button {
  height: 20px !important;
}
