header {
	width: 100%;
	min-height: 50px;
	background: #FFF;	margin-bottom: 15px;
	position: fixed;
	z-index: 998;
	top: 0;
	-webkit-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
		-moz-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.logo {
	text-decoration: none !important;
	height: 50px;
	display: inline-flex;
	cursor: pointer;
}
.logo-text {
	float: left;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
}
.logo-shape {
	width: 37px;
	height: 22px;
	position: relative;
	margin: 13px 8px 0 12px;
	float: left;
	background-size: 100% !important;
}
.logo-shape span {
	position: absolute;
	display: block;
	border-radius: 3px;
	transition: .1s;
}
.logo-shape span:nth-child(1) {
	width:28px;
	height: 18px;
	background: #378AB9;
	top: 0;
	left: 0;
	z-index: 1;
}
.logo-shape span:nth-child(2) {
	background: #375674;
	color: #FFF;
	width:24px;
	height: 14px;
	text-align: center;
	font-size: .9em;
	line-height: 18px;
	top: 4px;
	left: 4px;
	z-index: 3;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
}
.logo-shape span:nth-child(3) {
	width:28px;
	height: 18px;
	background: #E2E2E2;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.logo:hover .logo-shape span:nth-child(1) {
	top: -1px;
	left: -1px;
}
.logo:hover .logo-shape span:nth-child(2) {
	top: 5px;
	left: 5px;
	width:22px;
	height: 12px;
	line-height: 16px;
}
.logo:hover .logo-shape span:nth-child(3) {
	bottom: -1px;
	right: -1px;
}
header .hamburger {
	font-size: 1.5em;
	line-height: 50px;
}
header input {
	width: 100%;
	height: 30px;
	padding: 0 10px;
	border: 1px solid #E7EAED;
	box-sizing: border-box !important;
	font-size: .9em;
	margin: 10px 0;
}
.searchbox {
	position: relative;
}
.searchbox button {
	position: absolute;
	top: 0;
	right: 0;
	width:30px;
	height: 30px;
	line-height: 30px;
	background: transparent;
	transition: .1s;
}
.preview-holder input[type=search]{
	margin-top: 0;
}
.preview-holder.search .preview {
	top: 40px;
}
.preview-holder.search .pointy {
	background: #FFF;
	height: 12px;
	width: 12px;
	position: absolute;
	top: -7px;
	left: 15px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 9999;
	border-top: 1px solid #E3E3E3;
	border-left: 1px solid #E3E3E3;
}
header .btn {
	width: 100%;
	height: 30px;
	padding: 0 10px;
	border: 1px solid #E7EAED;
	box-sizing: border-box;
	font-size: .9em;
	margin-top: 10px;
}
header .right-menu {
	line-height: 50px;
}
header .right-menu  i {
	font-size: 1.3em;
}
header .right-menu .btn{
	border: none;
}
.logout {
	height: 50px;
	line-height: 55px;
	cursor: pointer;
}
.notification {
	margin-right: 15px;
	height: 50px;
	line-height: 53px;
	cursor: pointer;
	position: relative;
}
.notification .dot {
	position: absolute;
	left: -30px;
	width: 30px;
	height: 30px;
	color: #768694;
	text-align: center;
}
.dot span {
	display: block;
	height: 12px;
	width: 12px;
	border-radius: 100%;
	position: absolute;
	top: 10px;
	right: 1px;
	background: transparent;
	color: #FFF;
	font-size: 8px;
	line-height: 12px;
	text-align: center;
}
.dot.active span{
	background: firebrick;
}
/* Notification-box */
.blackout {
	background: rgba(0,0,0,0.2);
	position: fixed;
	top: 50px;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
}
.blackout.top {
	top: 0;
	z-index: -1;
}
#notification-box {
	position: absolute;
		right: -30px;
		top: 50px;
		text-align: left;
		opacity: 0;
		pointer-events: none;
		transition: .2s;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
#notification-box.active {
	opacity: 1;
	pointer-events: auto;
}
#notification-box .dotted {
	margin: 0 -12px;
}
.notification-caret {
	position: absolute;
	right: 33px;
	top: -6px;
	z-index: 1000;
	background: #FFF;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-top: 1px solid #E3E3E3;
	border-left: 1px solid #E3E3E3;
}
#notification-box  .title {
	height: 30px;
	line-height: 30px;
	margin-top: 2px;
}
#notification-box  .title .fa {
	float: right;
	font-size: 1em;
	margin: 5px 0;
}
#notification-box .list {
	position: relative;
	background: #FFF;
	padding: 3px 12px;
	z-index: 999;
	width: 350px;
	border-top: 1px solid #E3E3E3;
	-webkit-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
#notification-box .list-item {
	border-bottom: 1px solid #f1f1f1;
	display: block;
	padding: 10px 12px 20px 59px;
	margin: 0 -12px;
	position: relative;
	line-height: 17px;
	font-size: 13px;
	text-decoration: none !important;
	min-height: 64px;
	font-weight: 500;
	position: relative;
	z-index: 0;
}
#notification-box .list-item:hover {
	background: #F9F9F9;
}

#notification-box .avatar {
	width: 35px;
	height: 35px;
	line-height: 38px;
	position: absolute;
	top: 0;
	left: 12px;
	border: 0;
	border-radius: 3px;
}
.notifications-scroll {
	max-height: 50vh;
	overflow: scroll;
	margin: 0 -12px;
	padding: 0 12px;
	-webkit-box-shadow: inset 0 0 2px 1px #E8E8E8;
	box-shadow: inset 0 0 2px 1px #E8E8E8;
}

.list-item .date {
	position: absolute;
	font-size: .9em;
	bottom: 3px;
	color: #CCC;
}

.list-item quote {
	font-style: italic;
}
.all-notifications {
	margin: 8px 0 5px;
}
.empty-notification {
	background: #FFF;
	margin: 0 -12px;
	padding: 0 12px;
	border-bottom: 1px solid #E7EAED;
}
/* Loader */
#loader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999;
	height: 3px;
	width: 0;
	transition-timing-function: ease-out;
}

/* Popup */
.popup {

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
}
.box-helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.box {
	background: #FFF;
	display: inline-block;
	vertical-align: middle;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 2px 10px rgba(0,0,0,.2);
		box-shadow: 0 2px 10px rgba(0,0,0,.2);
		border-radius: 3px;
		overflow: hidden;
}
.box.confirm {
	max-width: 320px;
	max-height: 99%;
	padding: 30px 60px 20px;
	text-align: center;
}
.box.login {
	max-height: 99%;
	text-align: left;
	max-width: 94%;
}
.login-error {
	padding: 0;
	margin: 0;
	height: 10px;
	margin-top: -10px;
	font-size: .9em;
	color: #dd4b39;
	text-align: center;
	float: left;
	width: 100%;
}
#step1 {
	padding: 12px;
}
.box .title {
	font-size: 1.4em;
	font-weight: 600;
}
.login .title {
	float: left;
	height: 27px;
	line-height: 27px;
}
.login .close{
	height: 27px;
	line-height: 27px;
}
.login .center {
	text-align: center;
}

.login .center-line {
	width: 1px;
	background: #E7EAED;
	height: 150px;
	margin: 20px auto;
	position: relative;
}
.login .center-line span {
	display: block;
		background: #FFF;
		height: 30px;
		line-height: 30px;
		position: absolute;
		top: 60px;
		left: -15px;
		width: 30px;
		text-align: center;
}
.login input {
	width: 100%;
	height: 30px;
	padding: 0 10px;
	border: 1px solid #E7EAED;
	box-sizing: border-box !important;
	font-size: .9em;
	margin:0 0 12px 0;
	border-radius: 3px;
}
.sm-bar {
	width: 100%;
	border-radius: 3px;
	overflow: hidden;
	height: 32px;
	margin-bottom: 14px;
	line-height: 30px;
	padding: 0 12px 0 0;
	cursor: pointer;
	color: #FFF;
	transition: .1s;
}
.sm-bar i {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #FFF;
	margin-right: 5px;
}
.facebook {
	background: #758ab7;
}
.facebook:hover {
	background: #3b5998;
}
.facebook i {
	background: #3b5998;
}
.linkedin{
	background: #73ADCA;
}
.linkedin:hover{
	background: #0077B5;
}
.linkedin i{
	background: #0077B5;
}
.twitter {
	background: #88c5f3;
}
.twitter:hover{
	background: #55acee;
}
.twitter i {
	background: #55acee;
}
.google {
	background: #e78174;
}
.google:hover {
	background: #dd4b39;
}
.google i {
	background: #dd4b39;
}
.padded-box {
	padding: 12px;
}
/* Login */
.popup {
	opacity: 0;
	transition: .2s;
	transition-timing-function: ease-out;
	pointer-events: none;
}
.popup.open {
	opacity: 1;
	pointer-events: auto;
}
.popup .login{
	transition: .6s;
	transition-delay: .2s;
	transition-timing-function: cubic-bezier(0.175, 0.985, 0.32, 1.175) ;
	margin-top: -200vh;
}
.popup.open .login {
	margin-top: 0px;
}
.popup .bg {
	background: rgba(0,0,0,0.2);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
.login  {
	line-height: initial;
}
/* Sharebox */
#sharebox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	transition: .2s;
	transition-timing-function: ease-in;
}
#sharebox .box {
	position: fixed;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	padding: 12px;
	z-index: 999;
	background: #FFF;
	transition: .6s;
	transition-delay: .2s;
	transition-timing-function: cubic-bezier(0.175, 0.985, 0.32, 1.175) ;
	margin-top: -200vh;
}
#sharebox.open .box {
	margin-top: 10%;
}
#sharebox.open{
	opacity: 1;
	transition: .2s;
	transition-timing-function: ease-out;
	pointer-events: auto;
}
#sharebox .bg {
	background: rgba(0,0,0,0.2);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	transition:.6s;
}
#sharebox .title {
	float: left;
	height: 27px;
	line-height: 27px;
}
#sharebox .close{
	height: 27px;
	line-height: 27px;
}
#sharebox .share-btn {
	height: 72px;
	color: #FFF;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	line-height: 82px;
	font-size: 3em;
}

#sharebox .facebook, .share-block .facebook {
	background: #3b5998;
}
#sharebox .twitter, .share-block .twitter {
	background: #55acee;
}
#sharebox .linkedin, .share-block .linkedin {
	background: #0077B5;
}

/* Toast */
#toaster {
	position: absolute;
	pointer-events: none;
	position: fixed;
	bottom:0;
	right:0;
	max-width:300px;
	padding: 12px;
	z-index: 999;
	width:100%;
}
#toaster .toast {
	border-radius:4px;
	padding:12px 12px 12px 48px;
	margin-top:12px;
	position:relative;
	color: rgba(0,0,0,0.5);
	max-width:300px;
	width:auto;
	-webkit-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#toaster .toast.success {
	background:#C8D2A8;
}

#toaster .toast.error {
	background:#E99596;
	text-align:left;
}
#toaster .toast.warning {
	background:#F6EABC;
}
#toaster .toast.rep {
	background:#F6EABC;
}

#toaster .image {
	position:absolute;
	left:12px;
	width:36px;
	height:36px;
	font-size:2em;
}

/* Cookie bar */
.cookie-bar {
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index: 998;
	background: #fff;
	text-align:center;
	padding: 5px;
	-webkit-box-box-shadow: 0 -1px 2px rgba(0,0,0,.1);
	-moz-box-box-shadow: 0 -1px 2px rgba(0,0,0,.1);
	box-shadow: 0 -1px 2px rgba(0,0,0,.1);
}

.cookie-bar .btn {
	width:100px;
	display: inline-block;
	margin: 0 12px;

}

/* User menu */
header .avatar {
	background: #E3E3E3;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	margin-top: 10px;
	float: right;
	line-height: 33px;
}
.header-menu {
	position: relative;
}
.header-menu .avatar {
	cursor: pointer;
}
.user-menu {
	position: absolute;
	width: 200px;
	padding: 12px 12px 10px 12px;
	top: 50px;
	background: #FFF;
	right: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	text-align: left;
	font-size: 1em;
	z-index: 9999;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 1px solid #E3E3E3;
}
#UserMenu {
	opacity: 0;
	pointer-events: none;
	transition: .2s;
}
#UserMenu.active {
	opacity: 1;
	pointer-events: auto;
}

.user-menu .blue-link {
	line-height: 1.8em;
}
.user-menu .blue-link i {
	font-size: .9em;
	margin-right: 4px;
}

.user-menu a.blue-link {
	display: block;
	text-decoration: none;
}

.user-menu .user-caret {
	position: absolute;
	right: 9px;
	top: -6px;
	z-index: 1000;
	background: #FFF;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-top: 1px solid #E3E3E3;
	border-left: 1px solid #E3E3E3;
}
.reputation-avatar {
	margin-top: 10px;
	width: 35px;
	height: 35px;
	line-height: 40px;
	position: absolute;
	top: 0;
	left: 12px;
	border: 0;
	border-radius: 3px;
	font-size: 17px;
	text-align: center;
	color: rgba(0,0,0,0.3);
	background: #F6EABC;
}
.reputation-avatar i {
	margin-right:2px;
}
