/* Profile */
.profile {
	padding: 24px;
}
.profile .name {
	font-size: 1.7em;
	text-align: center;
	margin: 4px 0 -6px;
	font-weight: 700;
}
.profile .name i {
	font-size: .8em;
}
.profile .headline {
	font-size: .9em;
	text-align: center;
}
.profile .reputation {
	font-size: 1.4em;
	text-align: center;
	margin: 4px 0;
	font-weight: 700;
}


/* sidebar links */
.side-link {
	display: block;
    font-size: .9em;
    line-height: 1.2em;
}
.side-link.w-icon {
	position: relative;
	padding: 5px 0 5px 25px;
}
.side-link.w-icon i {
	position: absolute;
	left: 0;
	top: 4px;
	font-size: 1.3em;
}
