/* Menu */
.fixed-menu {
	position: fixed;
	width: 100%;
}
.menu > a {
	display: block;
	border-radius: 3px;
	text-decoration: none;
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
}
.menu .menu-link {
	display: block;
	padding: 0 4px 0 8px;
	position: relative;
	line-height: 27px;
	height: 30px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}
.menu .menu-link:hover {
	background: rgba(255,255,255,.42);
	border: 1px solid #E7EAED;
}
.menu .menu-link.active {

}
.menu > a > i {
	margin-right: 7px;
	display: inline-block;
	vertical-align: middle;
}
.menu > a > span {
	display: inline-block;
	vertical-align: text-top;
}
.menu .user {
	height: 50px;
	margin: 12px 0;
	padding: 0;
	text-decoration: none !important;
}
.user .avatar {
	width: 50px;
	height: 50px;
	line-height: 53px;
	font-size: 24px;
	border-radius: 3px;
	float: left;
}
.user .details {
	width: 100%;
	padding-left: 62px;
	text-decoration: none !important;
}
.user .details .name {
	font-size: 1.2em;
	font-weight: 700;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none !important;
}
.user .details .reputation {
	font-size: 1.2em;
	padding-top: 3px;
	float: left;
	line-height: 20px;
	text-decoration: none !important;
}

.user .details .rep-notification {
	color: white;
	line-height: 15px;
	display: block;
	padding-top: 3px;
	border-radius: 3px;
	margin-top: 3px;
	margin-left: 4px;
	padding: 2px 5px;
	float: left;
	background: green;
}
.tips {
	padding-left: 20px;
}
.tips li {
	font-size: 0.9em;
		line-height: 1.1em;
		margin-bottom: 12px;
}
.menu .sub-title {
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 12px 5px 5px;
}
.menu .page {
	display: block;
	padding: 4px 4px 4px 37px;
	position: relative;
	height: 35px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 300;
}
.menu .page:hover {
	background: rgba(255,255,255,.42);
	border: 1px solid #E7EAED;
}
.menu .page span {
	font-size: .9em;
	float: right;
	opacity: .5;
}
.menu .page .avatar {
	position: absolute;
	left: 4px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	border-radius: 3px;
	float: left;
}
