/* Mobile */
.hamburger {
	display: none;
}
@media (max-width: 768px) {
	body {
		padding-top: 100px;
	}
	header .preview.open{
		position: fixed;
		top: 85px !important;
	}
	.step.wide {
		width: auto !important;
	}
	object {
		width: 308px !important;
		height: 173px !important;
	}
	#toaster {
		max-width: 100% !important;
	}
	#toaster .toast {
		width: 100% !important;
		max-width: 100% !important;
	}
	.left-panel.hidden-xs {
		width: 0;
		height: 0;
		overflow: hidden;
		padding: 0;
		display: block !important;
	}
	.window {
		width: 100%;
	}
	.full-bg.open {
		top: 85px;
	}
	.padding-sm {
		padding: 0 15px;
	}
	.left-panel {
		height: 35px;
	}
	.menu-panel {
		display: block !important;
		width: auto !important;
		position: fixed;
		height: 100vh;
		overflow: scroll;
		background: #FFF;
		z-index: 999;
		top: 0;
		left: -53%;
		max-width: 50%;
		padding: 24px 10px 24px 0;
		transition: .2s ease-out;
	}
	.active .menu-panel {
		left:0;
		-webkit-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
		-moz-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
	}
	.menu-bg {
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 998;
		background: rgba(0,0,0,0.4);
		width: 100%;
		height: 100%;
		transition: .2s ease-out;
	}
	.active .menu-bg {
		opacity: 1;
		pointer-events: auto;
	}
	.hamburger{
		position: fixed;
		display: block;
		color: #768694;
		z-index: 999;
		top: 9px;
		right: 15px;
		font-size: 23px;
	}
	.active .hamburger {
		color: #555;
	}
	.logo-shape {
		margin: 13px 8px 0 0;
	}
	.menu-actions {
		padding-right: 35px;
	}
	.menu-actions .notification i {
		font-size: 20px;
	}
	.header-menu {
		display: none;
	}
	#notification-box {
		position: fixed;
		right: -30px;
		top: 45px;
		width: 100vw;
		left: 0;
		z-index: 99;
	}
	#notification-box .notification-caret{
		right: 59px;
	}
	#notification-box .list {
		width: 100%;
	}

}
@media (min-width: 768px) and (max-width: 992px) {
	.padding-md {
		padding: 0;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	/* nada? */
}
@media (min-width: 1200px) {
	.left-panel {
		width: 22%;
	}
	.center-panel {
		width: 53%;
	}
	.center-panel-offset {
		margin-left: 22%;
	}
}
