.notification-box  .title {
	height: 30px;
	line-height: 30px;
	margin-top: 2px;
}
.notification-box  .title .fa {
	float: right;
	font-size: 1em;
	margin: 5px 0;
}
.notification-box .list {
	position: relative;
	background: #FFF;
	padding: 3px 12px;
	z-index: 999;
	width: 350px;
  border-top: 1px solid #E3E3E3;
  -webkit-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.notification-box .list-item {
	border-bottom: 1px solid #f1f1f1;
	display: block;
	padding: 10px 12px 20px 59px;
	margin: 0 -12px;
	position: relative;
	line-height: 17px;
	font-size: 13px;
  text-decoration: none !important;
  min-height: 64px;
	font-weight: 500;
	position: relative;
	z-index: 0;
}
.list-item-lg {
	border-bottom: 1px solid #f1f1f1;
	display: block;
	padding: 10px 12px 20px 59px;
	margin: 0 -12px;
	position: relative;
	line-height: 23px;
	font-size: 16px;
  text-decoration: none !important;
  min-height: 64px;
	font-weight: 500;
	position: relative;
	z-index: 0;
}
.panel > .list-item-lg {
	border-bottom: 0;
	font-weight: 300;
}
.notification-box .list-item:hover {
	background: #F9F9F9;
}

.notification-box .avatar {
	width: 35px;
  height: 35px;
  line-height: 38px;
  position: absolute;
  top: 10px;
  left: 12px;
  border: 0;
  border-radius: 3px;
}
.notifications-scroll {
	max-height: 50vh;
	overflow: scroll;
	margin: 0 -12px;
	padding: 0 12px;
	-webkit-box-shadow:inset 0 0 5px 2px #E8E8E8;
	box-shadow:inset 0 0 5px 2px #E8E8E8;
}
.list-item .date {
	position: absolute;
	font-size: .9em;
	bottom: 3px;
	color: #CCC;
}
.list-item quote {
	font-style: italic;
}
.all-notifications {
	margin: 8px 0 5px;
}
.warning-box {
	border-radius: 3px;
	border: 1px solid firebrick;
	background: #F9E4E5;
	margin: 20px 0 12px;
}
.warning-box h3 {
	font-weight: 400;
	font-size: 1em;
	color: #fff;
	background: firebrick;
	padding: 5px 10px;
	margin: 0 0 12px 0;
}

.warning-box p {
	color: #555;
	padding: 0 10px;
	font-size: .9em;
}
.warning-box p a {
	color: firebrick;
}
.warning-box p a:hover {
	text-decoration: underline;
}
.notification-panel {
	padding: 0 12px;
}
.notification-panel:hover {
	-webkit-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.notification-panel .list-item {
	padding: 20px 12px 35px 59px;
	border: 0;
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: 400;
}
.notification-panel .list-item:hover {
	background: #FFF !important;
}
.notification-panel .avatar {
	top: auto;
}
.notification-panel .date {
	bottom: 12px;
}
.block-header {
	padding: 12px 12px 0;
	font-size: 1.2em;
	display: block;
}
.reaction.padding {
    padding: 12px;
}
