/* Poll */
.result-progress {
	background: #E3E3E3;
}
.result-progress > div {
	background: #2988BD;
	position: relative;
}
.poll-percentage {
	font-size: .9em;
  color: #FFF;
  line-height: 19px;
  position: absolute;
	right: 5px;
}
.poll-percentage.low {
	width: 25px;
	right: -30px;
	color: #777;
}
/* Question */
.question {
	padding: 12px 24px 12px 59px;
	position: relative;
}
.question .avatar {
	width: 35px;
	height: 35px;
	border-radius: 3px;
	position: absolute;
	left: 12px;
	text-align:center;
	vertical-align:middle;
	line-height:38px;
	font-size:1.2em;
}
.question .name {
	display: inline-block;
	font-size: .9em;
}
.question .title {
	font-size: 1.4em;
	line-height: 1.2em;
}
.question .description {
	margin: 12px 0 12px;
}
.question .sources .source {
	display: block;
	text-decoration: none !important;
}
.question .sources {
	margin-bottom: 12px;
}
.question .sources .source i {
	width: 15px;
}
.question .tags {
	margin-bottom: 12px;
}
.question .tags .tag {
	font-size: .7em;
	padding: 3px 8px;
	margin-right:4px;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	transition: .1s;
	text-decoration: none !important;
}
.question .actions {
	font-size: .9em;
}
.question .actions .right {
	cursor: pointer;
}

.question .actions .action.button i {
	margin-right: 0;
	margin-left: 0;
	cursor: pointer;
}
.question .action.bordered {

}

/* Answer */
.closed-question {
	padding: 12px 0 12px 59px;
}
.answer {
	padding: 12px 24px 12px 59px;
	position: relative;
}
.answer .avatar {
	width: 35px;
	height: 35px;
	border-radius: 3px;
	position: absolute;
	left: 12px;
	text-align:center;
	vertical-align:middle;
	line-height:38px;
	font-size:1.2em;
}
.answer .name {
	display: inline-block;
	font-size: .9em;
}
.question .postdate {
	display: inline-block;
	font-size: .8em;
	margin-left: 6px;
}
.answer .label {
	font-size: 1.4em;
}
.answer .toolbar {
	margin-top: 5px;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #E7EAED;
	line-height: 40px;
	padding: 2px 5px;
	position: relative;
	z-index: 2;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.answer .toolbar i {
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}
.answer .toolbar i.right {
	margin-top: 3px;
}
.answer textarea {
	border: 1px solid #E7EAED;
	padding: 10px;
	width: 100%;
	resize: vertical;
	min-height: 160px;

}
.answer .actions {
	border-top: 1px solid #E7EAED;
  height: 42px;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -1px;
}
.editor-actions {
	border-top: 1px solid #E7EAED;
  height: 42px;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -1px;
}
.editor-actions .btn {
  margin: 5px;
}

.editor-actions .share {
	position: absolute;
  right: 8px;
  top: 12px;
}
.editor-actions .share input{
  margin: 0 3px 0 8px;
}
.answer .share {
	position: absolute;
    right: 8px;
    top: 12px;
}
.answer .share input {
	margin: 0 3px 0 8px;
}
.answer .actions .btn {
	margin: 5px;
}
.answers {
	padding: 12px 24px 12px 59px;
	position: relative;
}
.answers .title {
	font-size: 1.5em;
	font-weight: 700;
}
.answers .title span {
	font-weight: 300;
	font-size: .7em;
}
.given-answer {
	margin-top: 10px;
}
.given-answer .avatar {
	width: 35px;
	height: 35px;
	border-radius: 3px;
	position: absolute;
	left: 12px;
	text-align:center;
	vertical-align:middle;
	line-height:38px;
	font-size:1.2em;
}
.given-answer .function {
	font-size: .9em;
}
.given-answer .actions {
	margin-top: 12px;
}
.given-answer .text {
	margin-top: 10px;
}
.given-answer .actions .action {
	border-radius: 3px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	font-size: .8em;
	cursor: pointer;
}
.given-answer .label {
	margin-top: 3px;
}
.given-answer .actions .action.additional {
	width: auto;
	padding: 0 12px;
	margin-right: 3px;
}
.given-answer .points, .given-answer .report {
	display: inline-block;
	vertical-align: center;
	font-size: .9em;
	margin-left: 3px;
}
.reaction .header {
	padding-left: 40px;
	position: relative;
	margin-bottom: 5px;
}
.reaction .avatar {
	position: absolute;
	left: 0;
	width: 30px;
	height: 30px;
	line-height: 34px;
	font-size: .9em;
	border-radius: 3px;
}
.reaction .date {
	font-size: .8em;
	margin-top: -3px;
}
.reaction .comment {
	margin-bottom: 8px;
}
.reaction .actions {
	height: 20px;
	font-size: .9em;
	margin-bottom: 5px;
	margin-top: 3px;
}
.reaction .actions .reply {
	float: left;
}
.reaction .actions .reply:hover {
	text-decoration: underline;
}
.react {
	position: relative;
}
.react .header {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5px;
}
.react .avatar {
	position: static;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.react .name {
	display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
    height: 0px;
    line-height: 5px;
}
.react textarea {
	width: 100%;
	outline: none;
	resize: vertical;
	padding: 10px 5px;
	min-height: 70px;
}
.react .actions {
	border-top: 1px solid #E7EAED;
    height: 42px;
    position: relative;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: -7px;
    margin-bottom: 12px;
}
.react .share {
	position: absolute;
    right: 8px;
    top: 12px;
}
.react .share input {
	margin-left: 5px;
}
.react .actions .btn {
	margin: 5px;
}
.react .header i {
	float: right;
    font-size: 18px;
    margin-right: 2px;
    margin-top: 2px;
    cursor: pointer;
}
.reply-to {
	padding-left: 25px;
}

/* Saved questions */
.saved-questions .title {
	font-size: 1.4em;
}

/* Poor editor */
.poor-editor-form  {
	position: relative;
	margin-top: 20px;
}
.poor-editor-form .poor-editor-header {
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 9;
	padding-left: 30px;
	line-height: 22px;
}
.poor-editor-header .avatar {
	left: 0;
	width: 20px;
  height: 20px;
	line-height: 22px;
	font-size: 10px;
	border-radius: 3px;
}
.panel.alert {
	background: #FFF8DF;
	color: #000;
}
.alert .tips {
	opacity: .5;
	list-style: none;
	padding: 0;
}
.alert .tips li {
	position: relative;
	padding-left: 15px;
	line-height: 1.4em;
}
.alert .tips li i {
	position: absolute;
	left: 0;
	top: 3px;
	width: 10px;
	height: 10px;
	display: block;
	background: #FFF;
	border: 1px solid #444;
	border-radius: 2px;
}
.alert .panel-title {
	margin: -12px;
	color: #000;
	padding: 12px;
	opacity: .5;
}
.alert .dotted {
	background-image: -webkit-linear-gradient(left, #F6EABC 33%, rgba(255,255,255,0) 0%);
	background-image: linear-gradient(to right, #F6EABC 33%, rgba(255,255,255,0) 0%);
}
.poll-warning {
	color: firebrick;
	padding: 5px 0;
	display: block;
}
.edit-poll {
	background: #F9F9F9;
	display: block;
	padding: 15px;
	border-radius: 3px;
	pointer-events:none;
}
.edit-poll .sub-title {
	font-size: 1.2em !important;
}
.edit-poll input {
	display: none;
}
.edit-poll label {
	margin-top: 5px !important;
	padding-left: 8px !important;
}
.delete-poll {
	margin-top: 10px;
	font-size: .9em;
}
.delete-poll:hover {
	text-decoration: underline;
	cursor: pointer;
}
