/* Onboarding */
.window {
	display: block;
	width: 760px;
}
.full-window{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
	overflow: scroll;
}
.step {
	width: 260px;
	margin: auto;
	text-align: center;
	position: relative;
	height: 100%;
}
.step.wide {
	width: 560px;
	margin: auto;
	text-align: center;
	position: relative;
	height: 100%;
}
.step.wide .title {
	font-size: 1.7em;
	text-align: center;
	float: none !important;
	padding: 5% 0 30px;
}
.step.wide .double-btns {
	width: 260px;
	margin: 0 auto;
}
.step .bullets {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 12px 0;
	width: 100%;
}
.step .bullets {
	z-index:-1;
}
.step .bullets .bullet {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	display: inline-block;
	margin: 0 3px;
}
.step .alt-text {
	width: 100%;
	text-align: center;
	padding: 15px 0;
	font-size: .9em;
}
.step .title {
	font-size: 1.7em;
	text-align: center;
	float: none !important;
	padding: 70% 0 30px;
}
.step p {
	font-size: .9em;
	text-align: center;
}
.code {
	text-align: center;
}
.step .btn i {
	margin-left: 4px;
}
.field-error {
	height: 21px;
	font-size: .9em;
	color: #dd4b39;
	text-align: center;
	float: left;
	width: 100%;
}

.created-invite {
	background: #E3E3E3;
	padding: 1px 27px 1px 7px;
  border-radius: 3px;
  margin: 2px;
  position: relative;
  font-size: .9em;
  display: inline-block;
  vertical-align: middle;
}
.created-invite i {
	position: absolute;
	top: 0;
	right: 7px;
	height: 26px;
	line-height: 26px;
	cursor: pointer;
}
.created-invite span {
	display: block;
  white-space: nowrap;
  overflow: hidden;
  height: 26px;
  line-height: 26px;
  text-overflow: ellipsis;
}

.padded-box {
	padding: 12px;
}
#step2social, #step2, #step3, #step4, #step5, #step6, #step7 {
	display: none;
}
