.reputation-page {
	padding:24px;
	position: relative;
}

.reputation-page .hide {
	display:none;
}

.reputation-page .name {
	font-size: 1.7em;
	margin: 4px 0 -6px;
	font-weight: 700;
}
.reputation-label {
	position: absolute;
	top: 28px;
	right: 24px;
	font-size: 1.7em;
}

.reputation-page .headline {
	font-size: .9em;
	text-align: center;
}

.reputation-page .stat-box {
	padding: 12px;
}

.reputation-page .points {
	font-size: 1.8em;
	margin: 4px 0;
	font-weight: 700;
}

.reputation-page .details {
  margin: 20px auto;
	font-size: .9em;
  line-height: 1.5em;
}

.reputation-page .details .info {
}

.reputation-page .details .title {
  padding-top:20px;
  width:100%;
  font-size:1.3em;
  font-weight:700;
	margin-bottom: -6px;
}

.reputation-page table {
  text-align:left;
}

.reputation-page table tr th {
  font-size:1.2em;
  font-weight:700;
	background: #FFF;
}

.reputation-page table tr th {
	padding: 0 6px;
	background: #fff;
	font-size: .9em;
	font-weight: 400;
}

.reputation-page table.unlockable tr td {
	color: #aaa;
}

.reputation-page table.unlockable tr.completed td, .colored {
	color: #666;
	/*font-weight:700;*/
}

.reputation-page table.stats tr:nth-child(odd) {
	background: #fff;
}
.details table {
	width: 100%;
}

.details table tr td {
	padding: 7px;
}
.details table tr td:first-child{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.details table tr td:nth-child(2){
	text-align: right;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
