/* Main color:    #2B567F */
/* Accent color:  #2988BD */
/* Accent grey:   #768694 */
/* Accent light:  #E3E3E3 */

.bg {
	background: #F9F9F9;
}
.black {
	color: #444;
}
.color, .panel-title {
	color: #2B567F;
}
.color-accent {
	color: #2988BD;
}
.color-grey {
	color: #768694;
}
.color-light {
	color: #E3E3E3;
}
/* Loader */
#loader {
	background: #2988BD;
}
/* Buttons */
.outline-btn, .menu > a {
	color: #768694;
}
.outline-btn:hover, .outline-btn.active {
	border: 1px solid #2988BD;
	background: #2988BD;
	color: #FFF;
}
.primary-btn {
	color: #FFF;
	background: #2B567F;
}
.primary-btn.disabled {
	pointer-events: none;
	border: 1px solid #2988BD;
	background: #2988BD;
}
.primary-btn.disabled span {
	display: none;
}
.primary-btn i {
	display: none;
	height: 30px;
  line-height: 30px;
}
.primary-btn.disabled i {
	display: block;
}
.primary-btn:hover{
	background: #2988BD;
}
.secondary-btn {
	background: #E3E3E3;
	color: #768694;
}
.secondary-btn:hover {
	background: #768694;
	color: #FFF;
}
.accent-btn {
	color: #FFF;
	background: #2988BD;
}
.accent-btn:hover{
	background: #2B567F;
}
.action-btn.completed, .action-btn.completed:hover {
	background:#2B567F;
	border: 1px solid transparent;
	color:#FFF;
}
.tag-link:hover {
	color: #2988BD;
}
.menu > a:hover {
	color: #2B567F;
}
body {
	background: #F9F9F9;
}
.logo {
	color: #2B567F;
}
.logo .logo-text span {
	color: #2988BD;
}
header input {
	background: #F9F9F9;
}
.menu > a {
	color: #768694;
}
.menu > a.active {
	color: #2B567F;
	background: #E3E3E3 !important;
}
/* Links */
.grey-link {
	color: #768694;
}
.grey-link:hover {
	color: #2B567F;
}
.side-link {
	color: #768694;
}
.side-link:hover {
	color: #2988BD;
}
.side-link-lg {
	color: #2988BD;
}
.side-link-sub {
	color: #768694;
}
.underline-link {
	color: #768694;
	cursor: pointer;
}
.underline-link:hover {
	color: #2988BD;
}
.blue-link {
	color: #768694;
	cursor: pointer;
}
.blue-link:hover {
	color: #2988BD;
}
.dark-blue-link {
	color: #2B567F;
}
.dark-blue-link:hover {
	color: #2988BD;
}
/* Tab */
.list-header .tab {
	color: #768694;
}
.list-header .tab:hover {
	color: #2B567F;
}
.list-header .tab.active {
	color: #2988BD !important;
	border-bottom: 3px solid #2988BD;
}
/* Tags */
.tag {
	color: #2B567F;
	background: #E3E3E3;
}
.tag:hover {
	color: #FFF;
	background: #2B567F;
}

/* Poll */
.result-progress {
	background: #E3E3E3;
}
.result-progress > div {
	background: #2988BD;
}
/* Answer */
.answer .toolbar, .answer .actions, .editor-actions  {
	background: #f9f9f9;
	border: 1px solid #E3E3E3;
}
.answer .toolbar i {
	color: #2B567F;
}
.answer .toolbar i:hover, .answer .toolbar i.active{
	background: #768694;
	color: #FFF;
}
.given-answer .actions .action {
	border: 1px solid #768694;
	color: #768694;
}
.given-answer .actions .action:hover {
	border: 1px solid #2988BD;
	color: #2988BD;
}
.given-answer .actions .action.report:hover {
	color: firebrick;
	border: 1px solid firebrick;
}
.reaction  .report {
	color: #768694;
	cursor: pointer;
}
.reaction  .report:hover {
	color: firebrick;
}
.react .header, .react .actions {
	background: #E3E3E3;
}
.react .avatar{
	background: #768694;
}
.react textarea {
	color: #768694;
	border: 1px solid #E3E3E3;
}
/* Petition */
.petition .form {
	background: #E3E3E3;
}
/* Ask */
.ask input, .ask textarea {
	border: 1px solid #E3E3E3;
}
.editor {
	border: 1px solid #E3E3E3 !important;
}
.ask .toolbar {
	background: #E3E3E3;
}
.ask .toolbar i {
	color: #2B567F;
}
.ask .toolbar i:hover, .ask .toolbar i.active{
	background: #768694;
	color: #FFF;
}
.ask .advanced .add-option {
	background: #f9f9f9;
	border: 1px solid #E3E3E3;
}
.ask .advanced .add-option i:hover, .recipient .remove:hover,  .ask .tags .created-tag .remove:hover, .enquete .remove:hover {
	color: firebrick;
	cursor: pointer;
}
.ask .recipient, .ask .tags .created-tag {
	border: 1px solid #E3E3E3;
	background: #f9f9f9;
	-webkit-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
/* Table */
tr:nth-child(odd) {
	background: #E3E3E3;
	border-radius: 3px;
}
/* Form */
select, input, textarea {
	color: #768694;
}
select:focus, select:active, input:focus, input:active, textarea:focus, textarea:active {
	color: #2B567F;
	border: 1px solid #CECECE;
}
.caret {
	border-top: 6px solid #768694;
}
/* Content */
.content p a {
	color: #2988BD;
}
/* Login */
.login input {
	border: 1px solid #E3E3E3;
}
/* Onboarding */
.step .bullets .bullet {
	border: 1px solid #E3E3E3;
}
.step .bullets .bullet.active {
	background: #E3E3E3;
}
/* favorite */
.heart:hover {
	color: #DF4979;
	cursor: pointer;
}
/* Edit profile */
.edit-profile .advanced .add-option i:hover, .recipient .remove:hover,  .edit-profile .tags .created-tag .remove:hover, .enquete .remove:hover {
	color: firebrick;
	cursor: pointer;
}
.edit-profile .tags .created-tag {
	background: #E3E3E3;
}
/* notifications */
.notification-box .list-item:hover {
	background: #F1F1F1;
}
/* Content page */
.content h2 {
	color:#2B567F;
}
.content p {
	color: #768694;
}
