/* Profile */
.profile {
	padding: 24px;
}

.profile .hide {
	display:none;
}

.profile .avatar {
	width: 90px;
	height: 90px;
	border-radius: 3px;
	margin: 50px auto 0;
	text-align:center;
	vertical-align:middle;
	line-height:100px;
	font-size:3em;
	background-size: cover !important;
}
.profile .name {
	font-size: 1.7em;
	text-align: center;
	margin: 4px 0 -6px;
	font-weight: 700;
}
.profile .meta-data{
	font-size: .8em;
	text-align: center;
	color: #CCC;
	margin: -30px 0 35px;
}
.profile .name i {
	font-size: .8em;
}
.profile .headline {
	font-size: .9em;
	text-align: center;
}
.profile .reputation {
	display: block;
	font-size: 1.4em;
	text-align: center;
	margin: 4px 0;
	font-weight: 700;
}
.profile .bio {
	margin: 35px;
	font-size: .9em;
	line-height: 1.5em;
	text-align: center;
}
.tag-block .bio {
	margin: 35px auto;
	font-size: .9em;
	line-height: 1.5em;
	text-align: center;
}

.profile .btn a{
	color:inherit;
	text-decoration: none;
}

/* edit profile */
.edit-profile{
	padding: 24px;
}

.edit-profile .space-left {
	padding-left:4px;
}

.avatar-upload {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	position: relative;
}
.edit-profile .avatar {
	width: 90px;
	height: 90px;
	border-radius: 3px;
	margin: 50px auto 50px;
	text-align:center;
	vertical-align:middle;
	line-height:100px;
	font-size:3em;
	background-size: cover !important;
}
.transparent {
	border: 1px solid #E7EAED !important;
}
.transparent > span{
	color: transparent;
}
.edit-profile .upload {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	color: #FFF;
	text-align: center;
	padding: 15px 0;
	line-height: 1.1em;
	font-size: .9em;
	transition: .1s;
	opacity: 0;
	position: absolute;
	top: 0;
	cursor: pointer;
}
.edit-profile .upload:hover {
	opacity: 1;
}
.edit-profile .upload i {
	font-size: 2.5em;
}
.edit-profile input {
	border: 1px solid #E7EAED;
	margin-bottom: 7px;
	border-radius: 3px;
	width: 100%;
	padding: 5px 5px;
}

.edit-profile input[type='text'], .edit-profile input[type='password'] {
	border: 1px solid #E7EAED;
}

.edit-profile textarea {
	border: 1px solid #E7EAED;
	margin-bottom: 7px;
	border-radius: 3px;
	width: 100%;
	padding: 5px 5px;
	resize: vertical;
	min-height: 60px;
}
.edit-profile .title {
	font-size: 1.4em;
		font-weight: 600;
		margin-bottom: 5px;
}
.edit-profile .title span {
	font-size: .6em;
	font-weight: 400;
}
.edit-profile .btn-holder {
	height: 60px;
}
.edit-profile .btn-holder a, .edit-profile .btn-holder span {
	display: inline-block;
		margin-top: 10px;
		height: 30px;
		line-height: 30px;
}
.edit-profile .tags {
	border-radius: 3px;
	margin-top: 7px;
}
.edit-profile .tags .created-tag {
	padding: 1px 27px 1px 7px;
		border-radius: 3px;
		margin: 2px;
		position: relative;
		font-size: .9em;
		display: inline-block;
		vertical-align: middle;
}
.edit-profile .tags .created-tag span {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	height: 26px;
	line-height: 26px;
	text-overflow: ellipsis;
}
.edit-profile .tags .created-tag i{
	position: absolute;
		top: 0;
		right: 7px;
		height: 26px;
		line-height: 26px;
		cursor: pointer;
}
.edit-profile .tags input {
	width: auto;
		border: none;
		margin: 0;
		padding: 0 5px;
		display: inline-block;
		vertical-align: middle;
		height: 26px;
}
/* Party */
.party .title {
	font-size: 1.2em;
	margin-bottom: 12px;
}
.party .label {
	font-size: 1em;
}
.party .label span {
	display: inline-block;
	margin-right: 8px;
}
#MyAnswers {
	display: none;
}

/* Settings */
.settings {
	padding: 24px;
}
.settings .title {
	font-size: 1.4em;
		font-weight: 600;
		margin-bottom: 5px;
}
.setting {
	padding: 6px 0 6px 31px;
	position: relative;
}
.setting * {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.setting input {
	margin-right: 4px;
	position: absolute;
	left: 0;
	top: 4px;
}
.settings .sub-header {
	font-size: 1.2em;
	margin-top: 20px;
}
.delete-acount {
	font-size: .9em;
	text-align: center;
	margin: 0;
}

/* password reset */
.password-reset {
	padding:24px;
}

.password-reset .title {
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 5px;
}

.password-reset input {
	border: 1px solid #E7EAED;
	margin-bottom: 7px;
	border-radius: 3px;
	width: 100%;
	padding: 5px 5px;
}

.password-reset input[type='email'],.password-reset input[type='password'] {
	border: 1px solid #E7EAED;
	margin-top:12px;
}

.password-reset .btns {
	padding-bottom:30px;
}
/* Top user */
.top-user {
	padding: 6px 5px 6px 57px;
	min-height: 35px;
	position: relative;
	font-size: 1em;
	line-height: 1.2em;
	display: block;
	text-decoration: none !important;
	margin: 0 -12px;
}
.top-user:hover {
	background: #f1f1f1;
}
.top-user .avatar {
	width: 35px;
	height: 35px;
	line-height: 26px;
	position: absolute;
	left: 12px;
	top: 5px;
	font-size: 12px;
	border-radius: 3px;
}
/*Reputation*/
.leaderboard .avatar span {
	line-height: 38px;
	font-size: 17px;
}
