<h2>Welkom op Burgerzetel.nl</h2>
<p>Om ervoor te zorgen dat Burgerzetel een prettige community blijft, waar leden
	op een gefatsoeneerde manier met elkaar over politiek kunnen praten, zijn er een aantal huisregels opgesteld.
	Het overtreden van deze regels biedt andere leden genoeg grond om content te rapporteren, dus zorg ervoor dat u deze regels goed leest.
</p>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/soYuRj6Kndo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
<h2>1. Alleen over politieke kwesties</h2>
<p>Burgerzetel is bedoeld als omgeving om over politieke kwesties te discussiëren,
	om deze reden is het niet toegestaan om content over andere onderwerpen te plaatsen.</p>
<h2>2. Geen scheldwoorden gebruiken</h2>
<p>Burgerzetel is een beschaafde omgeving, daarom is het niet toegestaan om
	content met een negatieve lading zoals scheldwoorden te plaatsen.</p>
<h2>3. Andere leden in hun waarde laten, wees aardig en respectvol</h2>
<p>Het is niet toegestaan racistische, seksistische, disciminerende of andere
	onrespectvolle content te plaatsen of uit te spreken naar andere leden van Burgerzetel.</p>
<h2>4. Geen misbruik maken van de ‘rapporteren’ knop</h2>
<p>De ‘rapporteren’ knop dient alleen gebruikt te worden wanneer content niet
	overeenkomt met de regels van Burgerzetel. Als u het niet eens bent met een
	vraagstuk of antwoord kunt u dit beargumenteren in een reactie.</p>
<h2>5. Niet spammen of reclame maken</h2>
<p>Plaats geen overbodige content, herhalende content of content en/of profielinformatie
	dat een bedrijf, instelling, merk, website, product of (goed) doel promoot.</p>
<h2>6. Geen auteursrechtelijk beschermd materiaal plaatsen</h2>
<p>Het is niet toegestaan auteursrechtelijk beschermd materiaal direct op burgerzetel
	te plaatsen, wel mag een link gebruikt worden om naar auteursrechtelijk beschermd materiaal te verwijzen.</p>
<h2>7. Geen persoonlijke informatie delen</h2>
<p>Het is niet toegestaan om privé gegevens van uzelf of iemand anders te plaatsen.
	Leden hebben het volledige recht persoonlijke content te laten verwijderen dat is geplaatst door iemand anders.</p>
<h2>8. Niet voordoen als iemand anders</h2>
<p>Om gebruik te maken van Burgerzetel is het vereist uw volledige naam te gebruiken.
	Het is niet toegestaan een nepnaam of de naam van iemand anders te gebruiken.</p>
