<h2>Wat is burgerzetel?</h2>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/86YLv2EJAq8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
<br/><br/>
<p>
	Burgerzetel is een online vraag &amp; antwoord platform met als doel om de kloof tussen burger en politiek te overbruggen.
	Volgens een <a href="http://www.scp.nl/dsresource?objectid=ebd2694f-136f-4839-96fa-d84fddf1d4f3">
	rapport het Sociaal en Cultureel Planbureau</a> is de helft (50%) van de bevolking ontevreden over het functioneren van
	de regering en vindt meer dan de helft (55%) dat burgers meer invloed moeten
	hebben op het beleid. Burgerzetel hoopt burgers meer zeggeschap te geven bij besluitvorming door
	burgers en politici samen te brengen.
	<br/><br/>
	Politici kunnen vragen naar de mening van de burgers en deze meenemen bij besluitvorming.
	Door de burger te betrekken bij de besluitvorming kunnen politici voorkomen dat er ontevredenheid onstaat over de genomen beslissing.
	Bovendien kunnen politici hun besluit onderbouwen, waardoor dit kan leiden tot wederzijds begrip.
	<br/><br/>
	Burgers kunnen ook vragen stellen aan politici. Door de burger op deze manier
	een stem te geven hopen wij dat de politiek transparanter wordt en dat er zo
	meer tevredenheid onstaat over het functioneren van de regering.
</p>
<h2>Affiliatie</h2>
<p>
	Burgerzetel is compleet onafhankelijk en is dus niet geaffilieerd met een andere organisatie.
	De website is het resultaat van een afstudeerproject van <a href="https://www.linkedin.com/in/tijmenhelder/" target="_blank">Tijmen Helder</a> en
	<a href="https://www.linkedin.com/in/wietsedv/" target="_blank">Wietse de Vries</a> en staat niet geregistreerd bij de Kamer van Koophandel.
	Burgerzetel heeft geen winstoogmerk en alle gemaakte kosten worden vrijwillig uit eigen zak betaald.
</p>
