<h2>1.Waarborgen Privacy </h2>
<p>
	Het waarborgen van de privacy van bezoekers van burgerzetel.nl is een belangrijke
	taak voor ons. Daarom beschrijven we in onze privacy policy welke informatie we
	verzamelen en hoe we deze informatie gebruiken.
</p>

<h2>2. Toestemming</h2>
<p>Door de informatie en de diensten op burgerzetel.nl te gebruiken, gaat u akkoord met onze privacy policy en de voorwaarden die wij hierin hebben opgenomen. </p>

<h2>3. Vragen</h2>
<p>Als u meer informatie wilt ontvangen, of vragen hebt over de privacy policy van Burgerzetel en specifiek burgerzetel.nl, kun u ons benaderen via e-mail. Ons e-mailadres is info@burgerzetel.nl. </p>

<h2>4. Monitoren gedrag bezoeker</h2>
<p>burgerzetel.nl maakt gebruik van verschillende technieken om bij te houden wie de website bezoekt, hoe deze bezoeker zich op de website gedraagt en welke pagina’s worden bezocht. Dat is een gebruikelijke manier van werken voor websites omdat het informatie oplevert op die bijdraagt aan de kwaliteit van de gebruikerservaring. De informatie die we, via cookies, registreren, bestaat uit onder meer IP-adressen, het type browser en de bezochte pagina’s.
<br/><br/>
Tevens monitoren we waar bezoekers de website voor het eerst bezoeken en vanaf welke pagina ze vertrekken. Deze informatie houden we anoniem bij en is niet gekoppeld aan andere persoonlijke informatie. </p>

<h2>5. Gebruik van cookies</h2>
<p>burgerzetel.nl plaatst cookies bij bezoekers. Dat doen we om informatie te verzamelen over de pagina’s die gebruikers op onze website bezoeken, om bij te houden hoe vaak bezoekers terug komen en om te zien welke pagina’s het goed doen op de website. Ook houden we bij welke informatie de browser deelt.</p>

<h2>6. Cookies uitschakelen</h2>
<p>U kunt er voor kiezen om cookies uit te schakelen. Dat doet u door gebruik te maken de mogelijkheden van uw browser. U vindt meer informatie over deze mogelijkheden op de website van de aanbieder van uw browser. </p>

<h2>7. Cookies van derde partijen</h2>
<p>Het is mogelijk dat derde partijen, zoals Google, op onze website adverteren of dat wij gebruik maken van een andere dienst. Daarvoor plaatsen deze derde partijen in sommige gevallen cookies. Deze cookies zijn niet door burgerzetel.nl te beïnvloeden.</p>
