<h2>Geverifiëerd account</h2>
<p>
	Ondanks dat er in de huisregels staat dat gebruiker zich niet mogen voordoen
	als iemand anders, kan het voorkomen dat dit toch gebeurt. Om ervoor te zorgen
	dat andere leden er zeker van kunnen zijn dat u bent wie u zegt, kan u er voor
	kiezen om uw account te laten verifiëren.<br/><br/>

	In principe kan iedereen zijn/haar account later verifiëren, mits hij/zij aan drie eisen voldoet;
</p>
	<ol class="color">
		<li>U bent actief (of actief geweest) in de politiek.</li>
		<li>U heeft uw profiel volledig ingevuld (m.u.v. de velden onder het kopje 'Persoonlijk informatie').</li>
		<li>Uw gezicht is duidelijk zichtbaar op uw profielfoto.</li>
	</ol>
<p>
	<br/><br/>
	<strong>Opgelet:</strong> Nadat u uw account heeft laten verifiëren is het niet meer mogelijk om uw
	voornaam, achternaam of functiebeschrijving te wijzigen.
	<br/><br/>
	<a href="/account/verifieren" style="color:#FFF;" class="btn primary-btn right">Account laten verifiëren</a>
	<br/><br/><br/><br/>
</p>
